[2019-05-18 16:37] Madhu1512 opened #1 "knex.js issue with Webpack"
Hi

I am running similar issue https://github.com/tgriesser/knex/issues/3130 with Knex.js when using with serverless-bundle plugin. Please let know how can i fix this issue. Can i override the webpack config?

[2019-05-27 18:59] jayair commented on #1
While we haven't officially released this plugin yet, from that issue it looks like you need to make a change to the serverless.yml. You should be able to do that with bundle as well since it simply extends serverless-webpack.

[2019-07-25 07:18] Vadorequest opened #2 "Module not found: Error: Can't resolve 'hiredis'"
I'm migrating a project using my usual webpack/babel config to serverless-bundle.

It works fine when running `serverless offline start`, but not when running `npx sls deploy`:

[code]

Here are the changes I've made (diff):

![image](https://user-images.githubusercontent.com/3807458/61853822-17089080-aebd-11e9-85df-9b6215b6385c.png)
![image](https://user-images.githubusercontent.com/3807458/61853

[2019-07-25 07:22] Vadorequest opened #3 "Jest encountered an unexpected token"
It doesn't seem like serverless-bundle is compatible with jest

[code]

Using the same config as in https://github.com/AnomalyInnovations/serverless-bundle/issues/2

Should I use a custom .babelrc with jest support or something similar? Or a missing package like jest-babel?

[2019-07-25 07:25] Vadorequest commented on #3
I tried reinstalling babel-jest `yarn add -D babel-jest` but it didn't fix the tests.

[2019-07-25 07:37] Vadorequest commented on #3
My bad, I hadn't read the doc thoroughly enough: https://github.com/AnomalyInnovations/serverless-bundle#getting-started

Using

[code]

Instead of
[code]

Fixed it.

[2019-07-25 07:37] #3 closed

[2019-07-25 07:56] Vadorequest opened #4 "Jest + Dotenv - Doesn't load env variables using "setupFilesAfterEnv" (ignored?)"
It looks like setupFilesAfterEnv in package.json is either ignored or misconfigured [doc](https://jestjs.io/docs/en/configuration#setupfilesafterenv-array)

[code]

My file `./jest-preload-env.js` contains the following:
[code]

But adding console.log there doesn't seem to be executed.
This breaks my tests, as ENV variables aren't loaded before tests are executed.

I'm running `serverless-bundle t

[2019-07-25 08:08] Vadorequest opened #5 "Jest - Debug usage with WebStorm"
Webstorm natively supports debugging tests (single test, multiple tests, whole file) with jest. But since this plugin requires to invoke tests using `serverless-bundle` script, it's somewhat incompatible with WebStorm's native way of running tests and results with "Jest encountered an unexpected token" because it can't understand ES6 import/export (it's not running jest through webpack/babel)

Wha

[2019-07-25 08:45] Vadorequest opened #6 "Doc - Using custom .babelrc"
It's not clearly stated in the doc what should be done when we use a custom .babelrc, that covers more ground than this plugin does.

For instance, given the following `.babelrc` file, which is customised to support some Next.js advanced configuration, what should I keep?

[code]
---
Also, in the special Next.js case, where they already setup a bunch of things through their `next/babel` preset, sh

[2019-07-25 08:49] Vadorequest opened #7 "Doc - Using custom .webpack.config.js"
It's not clearly stated in the doc what we should do when using a custom `.webpack.config.js` file. Does creating one overrides the `serverless-bundle` defaults?

Considering the following webpack config:

[code]

There are a few things that seem to be covered by `serverless-bundle` already, such as :
- module
- externals
- devtool
- node?
- entry
- target
- mode?

I wonder what should be kept/cha

[2019-07-25 09:10] Vadorequest commented on #7
Seems like most of my assumptions are right by looking at https://github.com/AnomalyInnovations/serverless-bundle/blob/master/src/webpack.config.js

I'm not sure how what's the plan for handling custom config.

[2019-07-25 10:12] aprat84 opened #8 "Feature/Question: typescript support?"
Hi everybody.

Would it be possible, in near future, maybe in next minor/major version, to support Typescript?
Something like an option `typescript: true/false` in serverless.yaml.

This would mean, at least, to install some extra packages (ts-loader, typescript) and tweak webpack.config.js depending on that option.

Thanks!

[2019-07-25 10:52] Vadorequest commented on #4
I've created a sample that reproduce this issue at https://github.com/UnlyEd/boilerplates-generator/pull/9

I basically copied an existing template with serverless and applied serverless-bundle, see `FIXME` comments. Tests are passing.

[2019-07-25 16:31] Reiner0 opened #9 "linter not using eslintConfig from package.json"
I know in the docs it references using .eslintrc.json to override the linter settings but I've tried that as well as my preferred way of having those settings specified in package.json, but it isn't working.

Here's the config from package.json:

[code]

and my devDeps:

[code]

From serverless.yml, I have this under "custom":

[code]

When trying to run sls invoke local for a function, the bundle

[2019-07-25 17:31] jayair commented on #9
I don't know if you can use a completely different config like `eslint-config-google`. I'll have to give that a try. But the overrides that you can apply are on top of the ones included in the plugin.

[2019-07-25 17:33] jayair commented on #8
Yeah we've definitely gotten a few requests for TS. I'm personally not super familiar with it. But it would be good if we can even support it without needing a config option.

If anybody wants to try and take this on, I'd be happy the help get them started.

[2019-07-25 17:37] jayair commented on #7
Yeah currently we are planning not to target supporting a custom Webpack config. Adding your own Webpack config is effectively just using the serverless-webpack plugin. And serverless-bundle doesn't really help you, if you are going to manage your own configs or packages.

Hope that makes sense!

[2019-07-25 17:38] jayair commented on #6
Yeah similar to the custom Webpack config idea, we don't have plans to support a custom Babel config just yet. I think serverless-webpack is pretty good if you just want to manage your own.

[2019-07-25 17:42] jayair commented on #5
Oh that's interesting. We use a similar approach to Create React App. Do you have any experience with using WebStorm with Create React App?

[2019-07-25 17:43] jayair commented on #4
I think we might not be passing those in. I'll need to investigate this.

[2019-07-25 17:49] jayair commented on #2
Is there a repo I can try this with? Or if you can give me a `package.json` and Lambda code to test it with.

[2019-07-25 17:55] Reiner0 commented on #9
Cool!  I appreciate you looking into it.  If what I'm trying to do isn't support right now, I understand.  Maybe a nice-to-have for down the road.  :)

[2019-07-25 18:10] Reiner0 commented on #9
Something else I just noticed, this linting error only occurs when using `serverless invoke local`.  If I do `serverless webpack` or `yarn test` with scripts/test defined as `serverless-bundle test`, it doesn't occur.

[2019-07-25 19:07] Vadorequest commented on #7
If that's your strategy, then I suggest to update the documentation to reflect that choice. Customisation is very important for many projects, and if it's not customisable then it's a hard limit that must be known and transparent before switching to serverless-bundle.

I believe that should be discussed in a dedicated issue, but I don't think that's a wise choice considering how important that is.

[2019-07-25 19:09] Vadorequest commented on #2
Unfortunately, I can't share the project (private repo), but we're planning to open source it within weeks, so I guess I'll update that issue when we do so.

[2019-07-25 19:14] Vadorequest commented on #5
I don't, but looking at my code I see I use react-app-rewired, which does also something quite similar, see:

- https://github.com/timarney/react-app-rewired/blob/master/scripts/test.js
- https://github.com/timarney/react-app-rewired/blob/master/bin/index.js

[2019-07-25 19:15] Vadorequest commented on #6
I'm closing this to avoid discussing the same topic on 2 separate issues.

[2019-07-25 19:15] #6 closed

[2019-07-25 19:15] Vadorequest commented on #6
See https://github.com/AnomalyInnovations/serverless-bundle/issues/7

[2019-07-25 19:20] Vadorequest commented on #8
I suggest you add a tag `help-wanted` then ;)

Here is our latest newborn project using TS, I guess it can be used for inspiration:
https://github.com/UnlyEd/conditions-matcher

What's important to know is that you use the `tsc` binary to compile from TS to ES5. By convention we use the `src` folder for sources, and `lib` folder for build, the lib folder is what's released on NPM (ES5 compatible).

[2019-07-26 17:45] jayair commented on #5
If they are doing something similar then it might be related to this issue - https://github.com/AnomalyInnovations/serverless-bundle/issues/4. Maybe all the arguments are not being passed in.

Once we fix that, let's give this a try again.

[2019-07-26 17:49] jayair commented on #7
Yeah I'll update the docs to reflect this. Similar to Create React App, I think it'll likely cover a reasonably broad use case even without the customization. And customizing the Webpack config with the serverless-webpack plugin is a pretty great alternative.

[2019-07-26 17:49] #7 closed

[2019-07-26 17:50] jayair commented on #9
Hmm that's interesting. I don't think there is a difference between the two commands but I'll have to check.

[2019-07-28 02:00] jayair commented on #4
I looked at what Create React App does for this and added support to override some Jest options.

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v1.2.3

[2019-07-28 18:15] Vadorequest commented on #4
Interesting, I'm gonna give it a try!

I tried running my test, and got:
[code]

[2019-07-28 18:19] Vadorequest commented on #4
`setupFilesAfterEnv` works fine and fixed my tests! 💯

[2019-07-28 18:20] Vadorequest commented on #4
The verbose option could be supported in a future version, meanwhile I believe we can close this issue ;)

[2019-07-29 03:18] #4 closed

[2019-07-29 15:15] Vadorequest opened #10 "Serverless-bundle now officially supported as one of our boilerplates"
FYI, we have just released a boilerplate featuring `serverless-bundle` at https://github.com/UnlyEd/boilerplates-generator/tree/master/templates/node-v10.x-aws-serverless-with-serverless-bundle

It contains everything for a quick getting started with serverless and serverless-bundle! :)

[2019-08-01 11:44] Manzalber commented on #9
Hi @Reiner0 and @jayair the Readme is wrong it references that a _.eslintrc.json_ should be created in order to override ESLint config. The correct filename it's _.eslintrc_  from [eslint-config-strongloop](https://github.com/strongloop/eslint-config-strongloop) plugin info. Rename the file and it should take your config.

[2019-08-01 15:50] Reiner0 commented on #9
@Manzalber thanks!  I'll give it a try and report back here

[2019-08-03 23:31] jayair commented on #10
Awesome! Thank you!

[2019-08-03 23:31] #10 closed

[2019-08-03 23:41] jayair commented on #9
Hmm that's weird because I have a test for this:

https://github.com/AnomalyInnovations/serverless-bundle/tree/master/tests/override-eslint

I'm using the `.eslintrc.json` there.

[2019-08-04 00:26] bart opened #11 "Getting module initialization error: TypeError"
I'm trying to use the `serverless-bundle` plugin on a sample project which runs a nuxt.js app as a serverless app. It's a pretty simple app which can be found here: https://github.com/serverless/examples/tree/master/aws-node-vue-nuxt-ssr

Without `serverless-bundle` it's working. Any idea what the reason could be? Unfortunately I'm not getting any additional information from Cloudwatch - just the

[2019-08-04 00:43] bart commented on #11
All right, figured out a bit more with AWS X-Ray: The complete error message is: TypeError: Cannot assign to read only property 'exports' which might be an issue with mixing import/export with require statements, right? Any solution for that (I mean especially when using lots of 3rd party packages like we do here)?

[2019-08-06 01:55] rockindahizzy commented on #2
I've had a similar issue when trying to use pg-promise library. Internally the  pg dependency has a require for pg-native, but pg-promise doesn't use pg-native by default. The only way I was able to get around this (not really a viable option) was to add a new line to the Serverless-bundle's Webpack.config.js:

`plugins.push(new webpack.IgnorePlugin(/^pg-native$/))`

[2019-08-07 17:47] jayair commented on #11
Hmm can you point me to the file and line number that's causing the error?

[2019-08-08 23:05] compwright opened #12 "Module parse failed: Unexpected character '�' (1:0)"
While packaging code that includes [sharp](https://www.npmjs.com/package/sharp) `^0.22.1`, I encountered this error:

[code]

[2019-08-09 20:47] jayair commented on #12
I wonder if this module is trying to load a file (https://github.com/webpack-contrib/sass-loader/issues/522). Have you used this previously with Webpack?

Also, if you could a package.json + handler file with this import that I can test with? I'll have a look.

[2019-08-10 21:28] compwright commented on #12
@jayair here's a test case for you: https://gist.github.com/compwright/6908a7524cbe37e5e388ac1a8706aa9c

Interestingly enough, I can't reproduce it with `sharp@0.23.0`.

[2019-08-10 21:31] compwright commented on #12
Related: https://github.com/lovell/sharp/issues/1177

[2019-08-17 23:16] jayair commented on #12
Thank you for this. So I played around with it. This needs a special config as noted in that https://github.com/lovell/sharp/issues/1177 issue. Have you used this module with Webpack before?

I don't know if we are going to support this in serverless-bundle. I'm not entirely sure yet. But if you want to use it with serverless-webpack, you need to add it to the externals in the `webpack.config.js`.

[2019-08-18 00:14] compwright commented on #12
Yes, I am currently using it with serverless-webpack.

**Serverless.yml:**

[code]

**webpack.config.js:**

[code]

[2019-08-18 00:40] jayair commented on #12
Ah. Yeah I'm not entirely sure what the best way to handle this is. It would be good if we can automatically handle this for users without them having to change the config. Any ideas?

[2019-08-18 00:47] compwright commented on #12
Seems like an `externals` configuration option that could be passed through to the underlying webpack would do the trick.

[2019-08-18 12:01] bart commented on #11
Unfortunately I'm not able to give you a line number. It's the lambda file (index.js) file that gets generated when doing `npm run deploy` on the project I posted above. I found the following stackoverflow post about it and will try to set some customs params in the serverless.yml that will hopefully fix the issue: https://github.com/webpack/webpack/issues/4039#issuecomment-419284940

[2019-08-18 12:56] bart commented on #11
Short update: After directly including data from `binaryMimeTypes.js` into `index.js` I'm getting a new error:

[code]

[2019-08-20 10:34] larrybek opened #13 "Babel Issue with Private Class Fields handling"
Babel is not handling Node 10 Private Class Fields. Using # as private field is giving error as `Unexpected character '#';`
As you have pointed just add babel configurations to support it.
Will be happy to hear from you soon.

Also other issues with submitting class properties is not supported in it providing this error:
`Support for the experimental syntax 'classProperties' isn't currently enable

[2019-08-23 23:23] OmarKhattab opened #14 "20 errors and 0 warnings potentially fixable with the `--fix` option."
I get some linting errors when I invoke function locally. How can I fix these errors?

[2019-08-26 07:55] tume opened #15 "Using other testrunners"
I have been trying to use ava with this project and got stuck pretty fast :). After figuring out all those babel configs for compiling my source code the problem now seems to be that I'm including files outside my working directory (lib is located outside my services directory).

It seems that your babel-jest integration works fine though. Wondering whether it would be beneficial to maybe post som

[2019-08-29 13:54] tume opened #16 "Including extra files"
We are currently needing to include some extra templates on top of the generated js bundle.

After a bit research it seems that when using serverless-webpack the best way would be to use copy-webpack-plugin.

I really would like to continue using this project instead of manually handling the Webpack configs. Would you be okey for including that also in the bundle (would think that is pretty common

[2019-08-30 12:42] wilcoschoneveld commented on #9
I'm confirming I also have this issue with `serverless offline`

[2019-08-31 01:33] rockindahizzy commented on #1
I am also having this issue and can confirm that the resolution proposed in the referenced issue is not working.  'serverless-webpack config detected in serverless.yml. serverless-bundle is not compatible with serverless-webpack.'

I was able to resolve this by adding logic to ignore additional plugins in the serverless-bundle webpack.config, but am not sure if that is the correct way to fix this

[2019-08-31 15:34] jayair commented on #9
@wilcoschoneveld Do you mean the eslint config is not getting picked up when you run `serverless offline`?

[2019-08-31 15:35] jayair commented on #11
Thanks for the details. I'll have a look at this soon.

[2019-08-31 15:38] jayair commented on #16
Ah. Thanks for putting in the PR. I'll have a look at this soon!

[2019-08-31 15:41] jayair commented on #15
Yeah the issue here is that the other test runners would need to run the babel configs as well. It's a little tricky to do and I'm not too familiar with Ava. If you figure out how to get it to work then we can definitely post a guide.

[2019-08-31 15:42] jayair commented on #14
It depends on the errors you are getting. It's usually a good idea to fix these errors. But you could optionally disable linting all together by setting `linting: false` - https://github.com/AnomalyInnovations/serverless-bundle#options.

[2019-08-31 15:42] #14 closed

[2019-08-31 15:44] jayair commented on #13
Oh interesting, can you post some sample code that I can reproduce this and test it with? We'll be upgrading to Node 10 soon, so this'll be useful.

[2019-09-02 08:53] wilcoschoneveld commented on #9
Yes, when I use `serverless invoke local` I have no issues. But when I run `serverless offline` the built-in eslint config seems to be used instead of my custom one.

[2019-09-02 17:25] jayair commented on #9
Would it be possible to get a repo or simple set of instructions that I can test with?

[2019-09-03 13:03] wilcoschoneveld commented on #9
Yes, I'm sorry I didn't provide one earlier. Here: https://github.com/wilcoschoneveld/serverless-bundle-example

Unfortunately I can't get the linting to work at all now, there is a `console.log` in the example handler but it doesn't get blocked by `serverless` commands. What is wrong in my setup?

Thanks!

[2019-09-03 13:18] larrybek commented on #13
@jayair you can just use a simple code of this to replicate the issue I got:
`class testClass {
    #attribute1;
    #attribute2;
   constructor(data) {
     this.#attribute1 =  data.attribute1
   }
}`

or even without # second issue
`class testClass {
    attribute1;
    attribute2;
   constructor(data) {
     this.attribute1 =  data.attribute1
   }
}`
`Support for the experimental syntax 'classP

[2019-09-04 06:24] sharanrprasad opened #18 "Option to disable es6 import/export"
Is it possible to provide an option to disable es6 import export?

[2019-09-08 16:02] jayair commented on #18
Hmm no there isn't. How come you want to disable them?

[2019-09-08 16:07] jayair commented on #13
Thanks.

Added - https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v1.2.4.

[2019-09-08 16:07] #13 closed

[2019-09-08 16:39] jayair commented on #9
Thanks guys! I think I know what's going on. The issue is that this plugin uses Webpack caching. Meaning that when you make a config change, the cache needs to be cleared first.

[code]

I added a note to the README with this - https://github.com/AnomalyInnovations/serverless-bundle#updating-options

@wilcoschoneveld I submitted a PR to your repo. Make sure you remove your `node_modules/` director

[2019-09-08 16:40] jayair commented on #15
Closing this for now.

[2019-09-08 16:40] #15 closed

[2019-09-08 16:49] jayair commented on #11
I'm looking at https://github.com/serverless/examples/tree/master/aws-node-vue-nuxt-ssr, it doesn't seem like it was using Webpack to bundle your Lambdas to begin with. I don't think serverless-bundle will work here. I'm not too familiar with Nuxt but I'm assuming they are packaging it themselves?

[2019-09-08 16:52] jayair commented on #1
@rockindahizzy Thanks for looking into this. It seems like this would be a useful addition. Can you give me a simple repo or code to test this `pg-hstore` package?

[2019-09-08 17:39] rogueturnip opened #19 "dynamic imports/requires"
I found a case where serverless-bundle just won't work since there is no custom webpack option.  In chartjs-node-canvas there is a dynamic import and as such the webpack build fails.  It would be nice to have the ability to include those in the serverless-bundle configuration.

[2019-09-08 17:47] jayair commented on #19
@rogueturnip Can you provide some sample code or a repo to test this with? We might look to add an option to exclude certain packages from the bundle.

[2019-09-08 21:57] sharanrprasad commented on #18
It's just that we have used common JS modules for all our node applications and was trying to keep it consistent. No worries. Thanks for the reply.

[2019-09-08 23:22] rogueturnip commented on #19
You bet!

handler.js
[code]
package.json
[code]
serverless.yml
[code]

[2019-09-09 08:43] wilcoschoneveld commented on #9
Cool, thanks for looking into this.

I'm a bit skeptic about the proposed solution though. When working with teams this means that each member has to clear the cache when pulling via git if it contains any config changes. It might not happen often so it's easy to forget this step. What do you think?

[2019-09-09 23:39] jayair commented on #18
No worries.

[2019-09-09 23:39] #18 closed

[2019-09-09 23:42] jayair commented on #19
Thanks! Btw, what did you mean by no custom Webpack option? Do you have a link to a doc on what we need to add to Webpack to make ChartJS to work?

[2019-09-09 23:43] jayair commented on #9
Yeah I see what you mean. It doesn't happen often but it would be good if we could detect a change and clear the cache somehow.

[2019-09-09 23:59] jayair commented on #9
I found that for the HardSourcePlugin we can set the cache to be set to be based on the environment or config - https://github.com/mzgoddard/hard-source-webpack-plugin#environmenthash. So there is a way to make it so that this cache is cleared when the config changes.

We also enable caching for babel-loader and eslint-loader. We need to check/test and see if they are cleared when the config chang

[2019-09-10 01:57] rogueturnip commented on #19
I thought that there might be an option in webpack to exclude modules but wasn’t sure. Sent from Mail for Windows 10 From: Jay VSent: Monday, September 9, 2019 4:42 PMTo: AnomalyInnovations/serverless-bundleCc: rogueturnip; MentionSubject: Re: [AnomalyInnovations/serverless-bundle] dynamic imports/requires (#19) Thanks! Btw, what did you mean by no custom Webpack option? Do you have a link to a do

[2019-09-12 23:35] hagaigold opened #20 "serverless-webpack: Yarn packager as an option"
serverless-webpack (5.x) now support  NPM and Yarn for packaging.
can we have this option here as well ?

[2019-09-14 09:28] juanpablovega opened #21 "Deep dependencies to aws-sdk are still added in final bundle."
### Expected behavior
In a project with nested dependencies, all instances of _require("aws-sdk/<something>")_ should refer to AWS Lambda's aws-sdk package.

### Actual behavior
Instead, using _require("aws-sdk/clients/dynamodb")_ in a 3rd level dependency adds around 400KB of uncompressed data from aws-sdk.

![Screenshot from 2019-09-14 11-25-32](https://user-images.githubusercontent.com/7041392/

[2019-09-14 23:45] SSelke commented on #21
I am also having this same problem

[2019-09-14 23:57] jayair commented on #9
I tested this a bit more. The caching issue is strictly for ESLint. We could disable the cache and bugs like this won't happen. https://github.com/AnomalyInnovations/serverless-bundle/blob/master/src/webpack.config.js#L65

Thoughts?

[2019-09-15 00:01] jayair commented on #21
Oh that's interesting. Does simply including this `aws-sdk/clients/dynamodb` in your handler add this extra 400KB as well?

[2019-09-15 00:02] jayair commented on #20
Hmm we'll need to investigate to see what is involved in adding Yarn.

[2019-09-15 00:04] jayair commented on #19
@rogueturnip Hmm your comment seems weirdly formatted here?

[2019-09-15 02:24] rogueturnip commented on #19
Sorry.  I was looking at something like defined here and excluding the node
modules folder.

https://stackoverflow.com/questions/37823764/how-include-and-exclude-works-in-webpack-loader

On Sat., Sep. 14, 2019, 5:04 p.m. Jay V, <notifications@github.com> wrote:

[2019-09-15 15:29] jayair commented on #19
Yeah with this plugin you cannot access that directly. However if you are having problems with specific packages, let me know and I'll have a look.

[2019-09-17 07:44] wilcoschoneveld commented on #9
I like that idea :)

[2019-09-17 16:04] imthatcarlos opened #23 "Using Lambda Layer for npm package"
I want to use an npm package as a lambda layer, so I've set up my serverless.yml file like so
[code]

and after reading [this post](https://medium.com/the-apps-team/how-to-add-nodejs-library-dependencies-in-a-aws-lambda-layer-with-serverless-framework-d774cb867197) I've got my project directory set up like this
[code]

In my case, I've modified the code in `nodejs/node_modules/tupelo-wasm-sdk/` so

[2019-09-17 16:06] imthatcarlos commented on #23
Forgot to include that the `tupelo-wasm-sdk` npm is set as a **dev dependency**

[2019-09-23 10:42] jlgouwyapizr opened #24 "[VScode] Lint in "live coding" without overriding"
Hi :)

I'm wondering, how can we have the eslint analyse in live coding (without overriding the eslintrc) ?

I would like to see all the eslint errors during I'm coding. Not only when I invoke the function.
It doesn't seem to take in count the default eslintrc in serverless-bundle module.
I need to specify this somewhere ?

Thanks :)

[2019-09-26 06:44] techterbium opened #25 "Default assignment while destructuing"
I am using serverless-bundle to webpack my function and I am seeing below issue when running the lambda on AWS.
**Code:**
`async (event, context,callback) => {
  const { queryStringParameters = {} } = event;
  const { name = '' } = queryStringParameters;
`

this is failing when deployed and ran on AWS lambda, but not locally.

**Error message**:

{
    "errorType": "TypeError",
    "errorMessage":

[2019-09-28 18:40] jayair commented on #9
Yeah I'll test and see how much it affects performance. And maybe disable it if it's not too helpful.

[2019-09-28 18:45] jayair commented on #23
Hmm I hadn't really considered Layers as a part of this process. But do you know how you would handle this issue if you were using serverless-webpack directly?

[2019-09-28 18:49] jayair commented on #24
Hmm so do you want to use the eslintrc that the plugin uses to analyze it live using VSCode?

Another option that I see people use is that they use the serverless offline plugin and that'll run ESLint live as you change your code.

[2019-09-28 18:51] jayair commented on #25
Oh interesting. Which version of Node are you using locally? And whats the Node version for your Lambda?

[2019-10-01 16:29] tcastelli opened #26 "Mongo layers on serverless.yml produces No file matches include / exclude patterns"
Hello, I'm using this plugin for automatic tree-shacking with webpack, but when I add the layers section in the serverless.yml and try to deploy, I always get the error of no file matches include/exclude.
When I try to run it locally with serverless offline everything works properly, and If I remove the layers section then the error goes away and i can deploy. Also, if I deploy without using serve

[2019-10-02 20:28] davidangel opened #27 "Is it possible to use step-debugging with the test command?"
When using jest, it's possible for me to step-debug in VSCode with the proper launch.json configuration. Is this possible while using `serverless-bundle`?

[2019-10-03 15:01] thiagoneves opened #28 "TypeError: require is not a function"
Hi guys,

I'm trying to use serverless-bundle in my project but i got the error below when added an external module.

***TypeError: require is not a function***

package.json
[code]

serverless.yml
[code]

handler.js
[code]

[2019-10-08 03:14] rockindahizzy commented on #1
Hey sorry I haven't been able to get to this. I have created a repo with examples here: https://github.com/rockindahizzy/sls-bndl-dependency-issue

I can continue to help out with this if needed!

[2019-10-08 12:55] Susan123456789 commented on #12
Any word on this?  I am also trying to use sharp with the serverless-bundle.  Thanks

[2019-10-09 00:22] jeremyprioux commented on #1
I'm facing same issue and the only way to solve this was to apply @rockindahizzy ignorePlugins solution. This is definitely an addition to make to serverless-bundle, otherwise it is impossible to use knex, sequelize etc..

[2019-10-11 23:49] jayair commented on #1
@rockindahizzy Thanks! I'll have a look into it this weekend and figure out a fix.

[2019-10-11 23:50] jayair commented on #12
Yup I'm going to look at it this weekend to figure out a fix.

[2019-10-11 23:52] jayair commented on #28
That's a weird error. Let me try reproducing it.

[2019-10-11 23:53] jayair commented on #27
Hmm I wrap around Jest in a similar way to Create React App. However I'm not familiar with VSCode. Can you give it a try and let me know what happens?

[2019-10-11 23:55] jayair commented on #26
I haven't tried it out with Layers but have you had this issue with just the serverless-webpack plugin?

[2019-10-12 14:04] tcastelli commented on #26
I also haven't tried it, since I discovered this package before finishing configuration with serverless-webpack. As a workaround, I have set up a new serverless for the different layers used so i just reference the layers arn from my services yaml and that makes it work.

[2019-10-13 00:38] jayair commented on #1
@rockindahizzy @jeremyprioux @Madhu1512 So I've added a fix. I've created a beta version for you to test. Install it using:

[code]

I'm following the instructions here - https://github.com/knex/knex/issues/3130. I'm excluding `knex` from the bundle. This fixes the errors. However, you'll need `forceInclude` the specific database package you need. For example, to use `mysql`, add the following to

[2019-10-13 00:39] jayair commented on #9
The caching issue should be fixed in the next release. I'm closing this issue for now.

[2019-10-13 00:39] #9 closed

[2019-10-13 00:41] jayair commented on #12
@compwright @Susan123456789 I've added a fix. I've created a beta version for you to test. Install it using:

[code]

I'm excluding the `sharp` package by default. However, I'm not sure about this option that you are using:

[code]

Can you tell me what this does and if you need the plugin to have this option?

[2019-10-15 09:21] jeremyprioux commented on #1
Using the beta version it is not able to get the package.json file (which is not in same dir as my serverless.yml file, it is in root dir of my project)

[code]

[2019-10-15 13:33] Ocuru opened #29 "Feature Request: Webpack Module Resolution"
In the Webpack Config you can add specific Module Resolution Paths, can this be added as an option to bundle config in serverless.yml

https://webpack.js.org/configuration/resolve/

[2019-10-15 17:41] jayair commented on #1
@jeremyprioux That hasn't been changed in the beta version. AFAIK, with serverless-webpack, you'd need to specify the path to the package.json separately right? If so, then I'll have to look at that in a separate issue.

[2019-10-15 18:33] Ocuru commented on #29
![Screenshot 2019-10-15 at 19 30 47](https://user-images.githubusercontent.com/13486641/66858973-4e4d8180-ef82-11e9-8eab-7e0f91fabd72.png)

This is an example of the structure i am currently using, probably not very common but having to step out of multiple folders in every file to get to my CommonFunctions gets quite tedious and would be much nicer to use a single module resolution path which we

[2019-10-15 21:49] gndelia commented on #8
this feature would be great. I would like to take a look, but I think I might have some time in the incoming weeks, not right now. So if anyone else is available, that would be great. Otherwise, maybe in november/december I might start taking a look (it would be useful for a project I am working with which uses this library)

[2019-10-17 01:33] jliburd-nsi opened #30 "Use newer version of aws-sdk than the one supported by Lambda"
I am trying to use the EventBridge client from  aws-sdk. Lambda does not support the latest version of the SDK that has the EventBridge code. I included the latest version of aws-sdk in my package dependencies but when the code is bundled by serverless-bundle and deployed, I get an error stating "AWS.EventBridge is not a constructor". Am i doing something wrong? How do I include my own version of

[2019-10-17 18:09] Susan123456789 commented on #12
It installs the linux version of the sharp library (see http://sharp.pixelplumbing.com/en/stable/install/#aws-lambda).  I don't know much about packagerOptions, but from what I read it seems like it would be helpful to have this option.  So, yes?

[2019-10-17 18:41] compwright commented on #12
@jayair our use case for `packagerOptions.scripts` is to install the correct sharp binary which will run in AWS Lambda prior to the build. If there's another or better way to do this, I'd love to know.

[2019-10-18 02:25] mthota15 opened #31 "Usage with Husky and lint-staged"
How to leverage serverless bundle eslint with Husky and lint-staged plugins?

[2019-10-18 09:13] jeremyprioux commented on #1
Rolling back to non beta version fix my issue. But I understand this i a separate issue.

[2019-10-21 12:14] KeKs0r commented on #18
i know this is not really a concern for this plugin, but I had the same question and thought I might share the use case for it:
I am building my app as a monorepo with multiple services. Some common dependencies are bbuilt with commonjs and consumed by my serverless-services.
Another scenario is the ease of debugging and not requiring transpilation while running simple node scripts. I usually have

[2019-10-21 12:30] KeKs0r opened #32 "Making sourcetype unambiguous to support commonjs in addition"
Hi,

I understand that the configuration is mainly setup to support es6 module syntax. I think it would be great to additionally not break working commonjs.

Webpack itself supports it to a certain degree:
You can mix require and export. You can't mix import and module.exports.
https://github.com/webpack/webpack/issues/4039#issuecomment-273804003

The problem is that babel-transform is transformin

[2019-10-21 14:02] gndelia opened #33 "Add raw loader to webpack"
I think a cool feature would be to add [raw-loader from webpack](https://github.com/webpack-contrib/raw-loader) to the configuration

the main benefit that it would allow us to import certificates as dependencies, to programatically connect to, let's say, a documentdb instance

[code]

[2019-10-24 20:59] gndelia commented on #29
I am in a similar situation. One option is to use alias module resolution, but given webpack is already included it is a nice feature to have. My idea is to have a mono repo of multiple services independent from each other + a common "folder".. Each microservice might be deep nested, so it is kind of a mess to access the `common` folder almost in the root

[2019-10-24 21:03] gndelia commented on #31
I think you can install them on your own, and then in order to run eslint you might access it in `./node_modules/.bin/eslint`

[2019-10-28 19:04] damien-monni opened #34 "How can I use the watch option with jest?"
I am executing my tests using `npm test`:

[code]

Is it possible to launch jest in watch mode?

Thanks!

[2019-10-30 15:08] rogueturnip opened #35 "loaders"
The module is working very well for most of our uses.  Thanks so much for it.

One request, would it be possible to add a number of the common loaders (raw, html, etc) and have then enabled via the configuration?  I've run into a couple of times where I needed to load html and had to revert back to raw webpack.

[2019-10-30 17:43] gndelia opened #36 "Package only specific lambdas"
Unsure if this belong to here or serverless, but here it goes

There's a lambda in C# in my `serverless.yml`. I wanted to use an authorizer for that lambda that's in js, so I need to transpile only the authorizer (and package it). However, when I add the plugin to `serverless.yml` it tries to package the C# lambda configuration, and it fails to find such handler (obviously, because it is in C#).

[2019-11-02 21:56] jayair commented on #30
Yeah so `serverless-bundle` explicitly excludes the `aws-sdk` that you include and uses the one in Lambda. So this error makes sense. Usually Lambda adds support fairly quickly for new SDKs.

[2019-11-02 21:58] jayair commented on #12
@Susan123456789 @compwright I see. Thanks for the added context. And just to confirm you are both using Yarn as your packager right?

[2019-11-02 21:59] jayair commented on #1
@jeremyprioux That's really weird. Yeah if you can share a sample project that I can test with, I'll fix it in the beta.

[2019-11-02 22:01] jayair commented on #18
Ah I see, thanks for sharing. So you have cases where you want to skip the transpiling altogether.

[2019-11-02 22:02] jayair commented on #32
Oh that is interesting. I'll test it out and see how it does. Thanks for bringing it up.

[2019-11-02 22:06] jayair commented on #33
I like the idea. I'm curious about the supported file extensions though. It seems like we would need to hardcode them in? Adding the `.pem` makes sense. But is there some way to tell Webpack to use the `raw-loader` specifically for an import?

[2019-11-02 22:09] jayair commented on #29
@gndelia Thanks for sharing. It would be good to have for sure. I just wonder if there is an easy way to do this without adding a new config option. Or maybe we'll need to add an `alias` array option in the config? Thoughts?

[2019-11-02 22:11] jayair commented on #34
Have you tried setting the watch mode in the `test` script in the `package.json`? I haven't tested it but I think it should work?

[2019-11-02 22:15] jayair commented on #35
Thanks for the kind words.

I think the best way to do this is pretty much by request. Since adding the html loader does not affect existing projects, it should be easy to do.

The raw loader on the other hand (https://github.com/AnomalyInnovations/serverless-bundle/issues/33), might need the file extensions hardcoded?

If somebody is willing to submit a PR with the html loader, that would be grea

[2019-11-02 22:17] jayair commented on #36
Hmmm this one is tricky. I haven't tried to do this before so I don't really know. I don't think serverless-webpack supports this either?

[2019-11-02 22:44] damien-monni commented on #34
Yes but I haven't found the right syntax I guess, it didn't work.

[2019-11-03 02:34] jliburd-nsi commented on #30
Ok. Thanks for the info.

[2019-11-03 17:27] jayair commented on #12
@Susan123456789 @compwright I pushed a beta with the added option. Give it a test and let me know.

[code]

Here is the new option in the docs - https://github.com/AnomalyInnovations/serverless-bundle/tree/beta#options

[2019-11-03 17:37] jayair commented on #32
@KeKs0r I had a look and I think we could do this. Can I bother you to put a test case together. Something that needs the source type added for the build to work?

[2019-11-03 17:40] jayair commented on #34
Hmm I've noticed one of our other users using something like this: https://github.com/AnomalyInnovations/serverless-bundle/issues/4

`serverless-bundle test --watchAll --runInBand`

Does that work for you?

[2019-11-03 17:46] damien-monni commented on #34
--watchAll is working, but it doesn't with --watch only. I'm not at my
computer now so I can't tell you the exact error message though.

Le dim. 3 nov. 2019 à 11:40, Jay V <notifications@github.com> a écrit :

[2019-11-05 02:45] damien-monni commented on #34
It's now working with:

[code]

Thanks!

[2019-11-05 02:45] #34 closed

[2019-11-05 15:11] Cryoware commented on #8
Have you tried placing `serverless-plugin-typescript` above all plugins?
[code]

[2019-11-05 16:20] arqex opened #37 "Conditional bundling"
Hi, thanks for this great plugin that makes everything easier!

Is it possible to conditionally load the plugin or not depending on the stage we are? Eg: I don't want to bundle when I am running serverless for development in my computer with serverless-online.

It's not possible to do so using variables in the serverless.yml file, so it would be great if there was an option `bundle: true|false` to

[2019-11-05 20:04] Susan123456789 commented on #12
I am trying to switch back to using the serverless-bundle beta but now I get an error when trying to invoke my function:

[code]

The data.trie file is actually located in `node_modules/unicode-properties/data.trie` and is required by pdfmake which I am using in my function.

[2019-11-05 21:46] gndelia commented on #36
I also asked the same in serverless forum https://forum.serverless.com/t/limit-plugin-to-a-specific-lambda/9733 but no response yet

[2019-11-05 22:01] gndelia commented on #33
I think that by doing `import foo from !raw-loader.path-to-foo` it forces webpack to use raw-loader if no configuration is specified (Meaning, just the loader installed)

According to [docs](https://webpack.js.org/loaders/) by using `!<loader-name>` you force to use that specific loader (without any specific configuration). So we could just have the loaders installed, without any extra conf, and t

[2019-11-05 22:02] gndelia commented on #35
I also [responded in #33 ](https://github.com/AnomalyInnovations/serverless-bundle/issues/33#issuecomment-550042110)

[2019-11-08 15:46] lsbyerley opened #38 "Failed to load plugin vue: Cannot find module 'eslint-plugin-vue'"
I've been looking around for a bundler for my serverless functions and wanted to give this one a try. After downloading, adding it to the plugins list, and running `sls offline start` I get an odd error about the vue eslint plugin.

    ERROR in /handler.js
    Module build failed (from /node_modules/eslint-loader/index.js):
    Error: Failed to load plugin vue: Cannot find module 'eslint-plugin-v

[2019-11-09 11:19] Ocuru commented on #29
The only way I can think of is to add the Alias as a config option, due to the fact everyones folder that would require the alias would be in different locations

[2019-11-09 16:48] serverlesspolska opened #39 "VS Code "Unexpected token import""
Hello,

Probably this is trivial but I don't know how to handle that.

When running `npm test` tests pass, however, jest plugin for VS Code fails with
`SyntaxError: Unexpected token import`.

I think Orta's Jest plugin for VS Code can't figure out to use babel-jest.

What should I do to make it work?

[2019-11-09 18:09] cinqi commented on #8
I tried to use serverless-bundle with serverless-plugin-typescript, it does not work, at leat out of the box. End result is two versions of handler files, one compiled by typescript and one by webpack (.build/handler.js and ./build/.webpack/handler.js)

[2019-11-09 23:08] gndelia commented on #29
another idea (that exceeds this package)

common set libraries for all MS might be deployed to aws as a Layer

[2019-11-12 12:44] KeKs0r commented on #32
I found a workaround by creating a `.babelrc`:

[code]
and its picked up by babel-transform, which resolves the issue. I think this can be closed and potntially just documented, that .babelrc can be used with this plugin.

[2019-11-14 01:08] Susan123456789 opened #40 "Trouble using Vibrant with serverless-bundle"
I am trying to use node-vibrant on an image Buffer (obtained from an image on s3) in a node.js serverless function.

[code]

However, I keep getting the error:

[code]

When I switch back from using serverless-bundle to the packages/config described in the old Serverless Stack tutorial (see the old version at https://github.com/AnomalyInnovations/serverless-stack-com/commit/052567d66d4c960814897a8

[2019-11-17 17:42] jayair commented on #37
Hi @arqex that's a good suggestion. I haven't tested this but wouldn't it be possible to load the plugins list in your `serverless.yml` based on the stage? Give it a try and let me know if it works?

[2019-11-17 17:45] jayair commented on #12
@Susan123456789 Hmm this seems related to a different package right? Or is this related to the `sharp` package? Let 's test the sharp package case first?

@compwright Can you also test the beta when you get a chance?

[2019-11-17 17:48] jayair commented on #33
Ah I see. Yeah this seems pretty straightforward. Let's start by supporting the `raw-loader`. I can have a look at it soon. Or if you want to take a stab at it, feel free to open a PR.

[2019-11-17 17:50] jayair commented on #38
@lsbyerley This looks like it is trying to pick up some listing config. Do you have a ESLint config file in your project?

[2019-11-17 17:52] jayair commented on #39
Hmmm I'm actually not sure about this. I don't have a lot of experience with VSCode. The `npm test` command internally runs `serverless-bundle test`. Do you know what the Jest plugin is doing?

[2019-11-17 17:55] jayair commented on #29
This seems like a case where there is no way around adding the config option. Shouldn't be too hard to do, if anyone wants to take a swipe at it.

[2019-11-17 17:57] jayair commented on #40
I think for some packages like this, we need to take a look and handle them specifically. I'm not entirely sure what is going on.

Does `node-vibrant` have any instructions on how to use with Webpack?

[2019-11-17 17:58] jayair commented on #32
Hmm interesting. I still think your original suggestion of handling this is a good idea. Since it shouldn't break existing configs.

[2019-11-17 23:52] lsbyerley commented on #38
Oddly enough, no there isn't an eslint config file in my directory. I'm not sure what could be causing this. I'm just going to close this as I've gone a different route, thanks for the input though

[2019-11-17 23:52] #38 closed

[2019-11-18 19:22] gndelia commented on #33
I think I can create a PR add it during the week

[2019-11-20 16:58] damien-monni commented on #12
serverless-bundle@beta works for me with sharp! I'm on Ubuntu 19.

[2019-11-28 05:51] MasterEric commented on #1
I would like to confirm that the current beta of `serverless-bundle` successfully resolves this issue in my project.

[2019-12-03 14:17] tcastelli opened #42 "Problem when using package formidable / node-formidable or anything that includes it, webpack doesn't compile the package correctly"
As you can see on this thread
https://github.com/node-formidable/node-formidable/issues/337

node-formidable or other packages using it fail to compile correctly this line
[code]
creating

[code]
this makes that later requires included are not properly transpiled and fail after deploy
in the line var crypto = require("crypto")

the easiest workaround found in the thread is to add
[code]

but that

[2019-12-03 19:10] patrykkrawczyk commented on #5
any progress on this? running tests with `serverless-bundle test` in terminal seems medieval

[2019-12-06 14:31] hotgazpacho commented on #30
It would be great if there was an option to explicitly include my local `aws-sdk` as an external module, and include it in the bundle; I don't want to wait for AWS to decide when to update the SDK in the runtime, and I want to make sure that the SDK version I'm running in the Lambda environment is the same version I'm running locally.

[2019-12-09 12:18] arrayoutofbounds opened #43 "Module parse failed: Unexpected character '' (1:0)"
[code]

[2019-12-10 07:48] egyhenger opened #44 "Typescript: "You may need an appropriate loader to handle this file type""
Hey,

I am using **serverless-bundle** and i would like to use typescript. During the deployment with Seed, I received the following error:
**ERROR in /tmp/seed/source/src/start.ts 10:0
Module parse failed: The keyword 'interface' is reserved (10:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/conc

[2019-12-11 22:14] compwright commented on #12
@jayair bundling completes successfully for me now. Here's the updated test case: https://gist.github.com/compwright/6908a7524cbe37e5e388ac1a8706aa9c

[2019-12-11 22:49] compwright commented on #12
@jayair thank you for your work on this! I am excited to be able to switch to this now from serverless-webpack!

[2019-12-12 03:14] compwright commented on #2
@jayair I'm running into this one now. I've updated my test case showing the failure:

https://gist.github.com/compwright/6908a7524cbe37e5e388ac1a8706aa9c

[2019-12-12 03:17] compwright commented on #2
FYI, setting `excludeDevDependencies` to `false` appears to have no effect. See https://serverless.com/framework/docs/providers/aws/guide/packaging/

[2019-12-13 20:34] Reiner0 commented on #29
Also would be interested in seeing this feature added... similar issue as others described.  Monorepos can be awesome but then importing helpers or other things from within the structure can be a bit unwieldy.

[2019-12-20 23:25] ggrantrowberry opened #45 "Can't get sequelize.js to work with serverless-bundle."
I am using a lambda function to parse a file uploaded to s3 then take the data and put it in a remote mysql database. I am using sequelize.js with the mysql2 package. I've deployed my code but I get the this error, {"errorType":"Error","errorMessage":"Please install mysql2 package manually"}. I googled around and found that using serverless-webpack I just need to use the following.
[code]
[https:/

[2019-12-23 15:33] grjzwaan commented on #12
Another data point: for me it also worked

@jayair Changes like this makes me happy, so it's much appreciated! Just switched today to serverless and hoped I didn't have to migrate my configs and scripts to get sharp to work.

[2020-01-02 17:46] jayair commented on #12
@compwright @grjzwaan Awesome! Thanks for the feedback guys. I'm going to package and push the beta soon.

[2020-01-02 19:11] jayair commented on #33
@gndelia Great! Yeah it would be good to do this.

[2020-01-02 19:26] jayair commented on #1
@MasterEric Thank you! I'll be releasing another beta version shortly and pushing to master after that.

[2020-01-02 19:29] jayair commented on #42
@tcastelli Hmm that's interesting. We don't have plans to add that option just yet. But from looking at that thread. Do you think they are going to address that issue soon?

[2020-01-02 19:30] jayair commented on #5
@patrykkrawczyk Not right now. I'm not a WebStorm user, so I need some help with this.

[2020-01-02 19:31] jayair commented on #30
Hmm that's interesting. We didn't have plans for this. But I'll reopen the issue and if other folks are running into this then we'll look into it.

[2020-01-02 19:33] jayair commented on #43
@arrayoutofbounds I think we'll need to deal with this package specifically. Do you have some documentation on how to get this to work with Webpack?

[2020-01-02 19:34] jayair commented on #44
Hi there, we don't have support for TS in serverless-bundle yet. It might be something we'll add down the road!

[2020-01-02 19:40] jayair commented on #45
@ggrantrowberry What was the issue you ran into with the new beta? That should address this issue.

You can checkout the `Knex.js` instructions in the README - https://github.com/AnomalyInnovations/serverless-bundle/tree/beta#advanced-options

[2020-01-02 21:34] jayair opened #47 "Testing 1.3.0-beta.4"
Hi all,

We've got a new beta that we could use some help testing before releasing out publicly. It resolves the following issues:

- Automatically load `.env` for the tests @Steffan-Carlos  (https://github.com/AnomalyInnovations/serverless-nodejs-starter/issues/51)
- Adding support for ignoring packages.
  - @aychtang Can you try it with the `pg` package (https://github.com/AnomalyInnovations/ser

[2020-01-02 21:38] jayair commented on #29
@Reiner0  Awesome! Would love your help with this. I added an option that does something similar to the web pack config. It might help you get started - https://github.com/AnomalyInnovations/serverless-bundle/blob/57b1cf5f61dad4f90ee28865928cfad389d32b1a/src/webpack.config.js#L122

But you are already on the right track!

[2020-01-03 17:18] tcastelli commented on #42
No idea tbh, I just forked this project and added the missing plugin and all is working for now.  It's a shame that there's no way to customize this plugin a little more. I guess this plugin could look for a json file path and add those external options to webpack easily.

[2020-01-06 13:18] florianmartens commented on #44
I am facing the same problem. Would also love to use Typescript with serverless-bundle.

[2020-01-08 15:04] clementAC commented on #47
webpack is unable to find my global package.json when I'm a a "micros service directory" to deploy. Serverless bundle is looking on the local directory.

[2020-01-08 19:24] jayair commented on #47
@clementAC Can you open a separate issue for this with your project structure?

[2020-01-13 12:34] karl-run commented on #44
That would be pretty cool jayair! Seems like `serverless-plugin-typescript` is more or less abandoned at this point. But with babel supporting TS it would be even nicer to just have ES6 and TS support in this plugin. :)

[2020-01-14 14:53] nagey commented on #30
@jayair It would be awesome to have a general support for configuring webpack excludes. I'm using puppeteer in a layer, and had found a trail through to a config like this:

[code]

(found by looking at serverless-webpack linked from the readme) - but that gives an error that the configs conflict — and I don't see another option)

Piggybacking on this issue as it seems to be semi related?

[2020-01-14 16:38] r3m4k3 opened #48 "Babbel and sequelize - Cannot assign to read only property 'exports' of object '#<Object>'"
Hi there,

I'm trying to use this plugin with lambda, sequelize and postgres.
But unfortunately I cannot have it working, I get this error: Cannot assign to read only property 'exports' of object '#<Object>'.
I know it's about mixing import and require, however I don't use import statements in my code at all.
The error comes from this file (config.js) - it's really simple:

`module.exports = {

[2020-01-15 14:40] nagey commented on #23
With `serverless-webpack` you can configure it like so:
[code]

where `chrome-aws-lambda` comes from your layer

[2020-01-18 20:13] danielo515 opened #49 "Allow to specify env webpack variables"
Hello, and thank you for this plug in, it has served me well so far.
But now I am on the situation that some random node dependency is doing weird things and I need to setup an environment variable so webpack does not bundle a part of the code. I took a look at the docs and there is no such option. Would you mind adding an env section to the configuration section?

Thanks!

[2020-01-18 20:14] danielo515 commented on #48
Try changing module.exports by export default or even better, export each property separately

[2020-01-20 16:03] harryluo91 opened #50 "Add externals as a config parameter"
Hi, would it be possible to add support for custom `externals` config option? I am currently using this with `sequelize` and have to add a conditionally required library to the `externals` in order for webpack to build. I am using my own fork now but it would be great to add this support. Thanks!

[2020-01-21 10:28] karunakapil opened #52 "After adding serverless bundle it deploys successfully but Api calls shows 502 error after using serverless bundle"

[2020-01-22 02:11] MichaelHirn opened #53 "Test <-> AWS build drift"
When testing the following file via `serverless-bundle test`

[code]

everything passes. However if I deploy this function (via `serverless` and `serverless-bundle` is defined and plugin and configured) and then invoke the lambda I receive the following error.

[code]

Shouldn't there be any difference though?

[2020-01-22 20:32] pal commented on #29
This is the main reason I still need serverless-webpack (copyFiles was a no-go for me), watching with interest @Reiner0 !

[2020-01-23 17:45] gndelia opened #55 "Allow testMatch to be configurable in jest"
I want to be able to pass different `testMatch` https://jestjs.io/docs/en/configuration#testmatch-arraystring for Jest to run tests in specific folders

Currently, it runs tests in the entire codebase. My case is that we have  a bunch of microservices, with some shared code in the parent level, such as dependencies. `serverless-bundle` is one of them (so it's not installed in every MS, although it

[2020-01-25 01:21] s14k51 opened #56 "How can I analyze the generated bundle?"
Hi, I really love using serverless-bundle.

I'm wondering if there is a way to analyze the generated bundles to check what code is going into them, with something like webpack-bundle-analyzer or such sort. Is it possible with the serverless-bundle plugin?

Thank you.

[2020-01-26 17:02] jayair commented on #42
Yeah I'll keep this open. If more people run into this or something similar we'll fix it.

[2020-01-26 17:03] jayair commented on #44
Oh it's a shame that the other plugin has been abandoned. Yeah it would be good to add TS support here.

[2020-01-26 17:05] jayair commented on #30
Oh that's interesting. Can you share more details on what you are trying to do? Possibly with a sample repo that I could try out?

[2020-01-26 17:06] jayair commented on #23
@nagey Replied in the other thread, but let's take a deeper look at this.

[2020-01-26 17:07] jayair commented on #49
Can you share more details on this? It would good if you can share a sample repo so I can look into what to do.

[2020-01-26 17:11] jayair commented on #50
Yeah we could. But for certain obvious packages that can only be used through the `externals` option, we want to do it by default.

Can you share a link to the `sequelize` docs on how to use (or exclude) with Webpack?

[2020-01-26 17:12] jayair commented on #52
Can you share some details on the actual error you are getting?

[2020-01-26 17:17] jayair commented on #53
Hmm I think it's better not to mix the `module.exports` and the `export`. We are using Babel as a part of this, so that is likely that's causing a problem.

[2020-01-26 17:59] jayair commented on #55
Can you share the directory structure of your project? And where you are running the test command from?

[2020-01-26 18:01] jayair commented on #56
We don't have a built-in way to do this currently. I had done this in the past by manually editing the `webpack.config.js` that is included.

[2020-01-26 18:08] s14k51 commented on #56
@jayair Ok, thank you for the information.

[2020-01-26 18:09] #56 closed

[2020-01-27 14:41] pal commented on #53
I get this same error for existing code that worked fine with `serverless-webpack`, but not with `serverless-bundle`

[2020-01-27 17:19] gndelia commented on #55
Sure

Let's assume there are two serverless projects in our monorepo
[code]

each specific `package.json` has dependencies that just belong to that service. The root one (below `Readme.md` has all the shared dependencies.

From each service's `package.json`  we just refer to it by `npx --prefix ./../ test` - and the root `package.json` is in care of running `serverless-bundle test`. However, that

[2020-01-28 09:50] danielo515 commented on #49
Well, I don't think an example repository could help for requesting a new feature, but I can give you more details.

Basically what I want is to be able to specify values for this plugin:

https://webpack.js.org/plugins/environment-plugin/#usage-with-default-values

So I can set some env variables for the code that is being bundled.

[2020-01-30 09:38] demtario opened #57 "Showing ESLint warnings without showing debug info at the same time"
I want to setup ESlint to show me not only the errors but warnings too.

I figured out that warnings are showed when I set the `stats` flag to `true` in bundle config in `serverless.yml`. It worked, but unfortunately some debug info about bundle sizes etc started to show up.  Is any option to enable showing warnings without showing this debug info?

If not, maybe I could make a PR with new option

[2020-01-30 10:50] pal commented on #55
We have something similar and the same need. Our structure is as follows

[code]

If I run ```yarn test``` from ```/proj``` then I expect to run all tests, which is working great, but when I run from ```/proj/services/service-a``` I would like to just run that folders' ```handler.test.js```.

I believe being able to override ```testMatch``` would allow this, right?

[2020-01-30 11:39] gndelia commented on #55
yes, you would override `testMatch` in each service folder (`service-a`, `service-b`)

[2020-02-05 04:41] markisadesignerd commented on #5
@Vadorequest, @patrykkrawczyk: The way I worked around this was to:

1. Add `jest@24.8.0` as a `devDependency` to my own project's `package.json` (optional I think, but otherwise WebStorm wouldn't display the inline test/debug icon in the editor)
2. Create a `jest.config.js` file in your project's root that loads the `serverless-bundle` config:
[code]
3. Update your Jest Run/Debug configuration to

[2020-02-06 04:48] rmjwilbur commented on #5
Thanks @markisadesignerd - that worked for me in IntelliJ

I had to remove "type": "module" from my package.json but I can live with that. Also I am pointed to my project's node_modules/jest folder.

[2020-02-06 14:25] rad182 opened #58 "Add support for graphql loaders?"
Hello is there a way to add loader to support .graphql files?

[2020-02-06 14:53] DuncanLewis opened #59 "TypeError: Class constructor RESTDataSource cannot be invoked without 'new'"
When trying to run a test that utilises Apollo GraphQL REST Data Source I'm facing the following error:

[code]
A fix for the particular issue is listed here: https://github.com/apollographql/apollo-server/issues/2216 - but I'm unable to implement this while using serverless-bundle.

Note that if I just run `jest` as the test command, rather than `serverless-bundle test`, I don't face the issue.

[2020-02-08 18:42] jayair commented on #53
Were you using Babel there? Because this plugin does more than just use Webpack.

[2020-02-08 18:44] jayair commented on #49
I'm not completely clear about this. Can you not set these variables in your `serverless.yml` as environment variables?

[2020-02-08 18:46] jayair commented on #57
Hmm how do you enable showing the warnings in ESLint? I'd like to see if we can do this without adding another option.

[2020-02-08 18:50] jayair commented on #55
I see. This makes sense. Is the `testMatch` property set through the `package.json`?

[2020-02-08 19:12] jayair commented on #47
We published the new update!

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v1.3.0

[2020-02-08 19:12] #47 closed

[2020-02-08 19:29] jayair opened #61 "TypeScript Support in Beta"
First off thanks to @tume @rklubenspies @codinronan for helping.

The new beta branch https://github.com/AnomalyInnovations/serverless-bundle/tree/beta now has TS support. Since I'm not much of a TS user, I could use some help getting this to a public release. Here is how you can help.

Start by using the beta version and reporting issues:

[code]

@rklubenspies let's look at supporting a TS singl

[2020-02-08 19:29] jayair commented on #8
We have this in beta now. Opened a new issue to track progress https://github.com/AnomalyInnovations/serverless-bundle/issues/61.

[2020-02-08 19:29] #8 closed

[2020-02-08 19:31] jayair commented on #5
@markisadesignerd  Thank you for this! I'll link to this in the README.

[2020-02-08 19:35] jayair commented on #58
Hmmm do these files need an additional Webpack loader? I don't think we support this natively. But you can copy files to the bundle. Would that work?

[2020-02-08 19:37] jayair commented on #59
Hmm that's strange. Does this code work in your Lambda functions? As in, is this an issue with just the tests?

[2020-02-09 00:10] rad182 commented on #58
yes in my current project i'm using https://github.com/apollographql/graphql-tag
[code]

As for copying. I tried that also but can't wait make it work.
I ended up using js
[code]

[2020-02-09 09:09] tume commented on #61
Great to see this progressing. Thank you all.

One thing that might be missing is testing the code with jest. Seems that you need to have `@babel/preset-typescript` enabled for jest to strip the type annotations or use https://github.com/kulshekhar/ts-jest for type checking also.

[2020-02-09 15:02] gndelia commented on #55
I think you can, just like any jest config (I am not 100% sure for the case of this package; I've only used configs from CLI call here)

the only "problem" I see is that for array configurations like this, here the code is extending the base configuration with whatever is passed

https://github.com/AnomalyInnovations/serverless-bundle/blob/master/scripts/config/createJestConfig.js#L58

but in this

[2020-02-09 15:30] danielo515 commented on #49
Yes, I can, but those variables are not for changing the behavior of webpack, it is for the bundled code.
There are parts of javascript code that has conditional code based on env variables, but those variables needs to be included during the build phase. For that, webpack needs to be configured to make those variables available to the bundled code.
Basically, all you need to do is inject the foll

[2020-02-10 07:57] mladenstojanovic opened #62 "High vulnerabilities in dependecies"
Running npm audit with this package installed shows high vulnerabilities with handlebars package (serverless-bundle > jest > jest-cli > @jest/core > @jest/reporters > istanbul-reports > handlebars)
Also, serialize-javascript shows moderate vulnerability (serverless-bundle > webpack > terser-webpack-plugin > serialize-javascript )

[2020-02-10 11:18] DuncanLewis commented on #59
@jayair Yeah thats correct, it works fine when run in Lambda environment but when running in tests it fails.

[2020-02-10 13:41] demtario commented on #57
I found out that ESLint warning are visible when in `webpack.config.js` _stats_ flag is set to "**errors-warnings**" (Now it is "**errors-only**" with disabled stats option)

So changing config to following line will solve issue
[code]

Question is when you really want to display warnings, the most universal would be if it was optional.

[2020-02-10 15:03] clementAC opened #63 "Unable to find package.json"
Hi,

After upgrading to 1.3.0, I'm unable to package lambda function.

I have a global package.json on root and multiple services with their own serverless.yml. In order to deploy, I use the sls deploy command inside the correct service directory (or using seed services). In 1.3.0, serverless-bundle is looking in the service directory and not at root directory. It result in an error abording the b

[2020-02-10 17:55] jayair commented on #61
I see. Is anybody willing to take a crack at this?

Also, we might have to look at the ESLint config for TS I'm guessing?

[2020-02-10 18:10] jayair commented on #63
@clementAC Thanks for bringing this up. I'm taking a look.

[2020-02-10 18:43] jayair commented on #63
@clementAC I'm trying to replicate this and I couldn't. When you say:

What does that mean? Can you share what you are importing and the error you are getting?

[2020-02-10 18:43] jayair commented on #62
Yup we'll fix these in the next minor update.

[2020-02-10 20:42] tume commented on #61
It would be nice to hear how people are normally testing ts apps and what are the best practices? I can configure once there is a clear direction where to go. I will experiment myself but might take a while until I have a complete setup.

Also noticed that you can extend other configs from tsconfig.json which means you could have one tsconfig.json at root-level and just reference that from service

[2020-02-11 11:08] clementAC commented on #63
In version before 1.3.0 webpack and serverless-bundle took the only package.json in the project, the one at the root directory. In version 1.3.0, webpack and serverless bundle try to open a local package.json inside the service directory but it does not exists.

Here is the full error.
[code]

the environment information  same error on Linux environment:
[code]
Custom section in serverless.yml
[co

[2020-02-11 19:57] mohamedGamalAbuGalala commented on #58
Check [this link](https://graphql-modules.com/docs/recipes/development-environment#webpack)

this Will guide you to how we need to support graphql loaders.

[2020-02-12 01:08] jayair commented on #63
@clementAC Thanks for the added info. I didn't realize that the issue was with the `serverless deploy` or `package` command.

Just pushed a fix for this. Try version 1.3.1.

[2020-02-12 02:56] RatulSaha commented on #61
It would be ideal to not have to add tsconfig for each service. The suggestion at https://github.com/AnomalyInnovations/serverless-bundle/pull/51#issuecomment-582086181 seems useful, although should we do that manually in node_modules or something?

[2020-02-12 03:02] RatulSaha commented on #61
Also, I am getting a `Error: Cannot find module 'typescript'` at `fork-ts-checker-webpack-plugin/lib/index.js` when compiling. I am guessing I need to add typescript to my project explicitly, but not sure how. I am following the serverless-monorepo style, added tsconfig.json to each service.

[2020-02-12 10:07] clementAC commented on #63
Perfect everything works now ! Pg-native module excluded, bundled under the right node version and packaged with yarn. Such a great work you do to simplify my life. Thank you.

[2020-02-12 10:07] #63 closed

[2020-02-12 10:12] clementAC commented on #49
setting your serverless.yml like this will make env var available in the lambda runtime context:

[code]

[2020-02-12 13:44] danielo515 commented on #49
@clementAC my target is not the lambda runtime, is web-pack build-time context, and there is no way you can do it without the change I spotted above on the web-pack configuration.
I'm starting to think that making a PR with my proposed changes will actually be easier than trying to explain it

[2020-02-12 17:31] tume commented on #61
@RatulSaha Yeah you need to install typescript yourself to your service.

One config for root-level might be a good idea to support but still think that supporting separate tsconfig.json in each service is a valid thing as well, might need to have a bit different config based on the service. We are now e.g. migrating from pure js to ts and when mixing both makes sense that the compiler is not so s

[2020-02-12 18:29] Phrosh commented on #50
You could keep the three externals that are already there and add and optional config for additional ones.
I just needed "chrome-aws-lambda" as external. You could add this to the repo, or simply enable users to add externals when needed.

[2020-02-12 22:05] patrykkrawczyk opened #66 "Remove _warmup from the bundle output (serverless-plugin-warmup plugin)"
Hi,

I've created a project based on this repository https://github.com/AnomalyInnovations/serverless-nodejs-starter

Then I've added serverless-plugin-warmup, to do so the only thing I did is:
[code]
and
[code]

Now when I do:
`sls package`

I have a zip file in .serverless directory and it contains _warmup directory with index.js
This is strange since I believe there is a functionality to remove

[2020-02-13 13:41] tume commented on #61
Created PR for basic test setup with ts-jest: https://github.com/AnomalyInnovations/serverless-bundle/pull/67

[2020-02-14 09:35] caligo-erik opened #68 "Problem with custom request authorizer"
I have a problem with the custom request authorizer not working with the default setup.

Reproduction steps: take this boilerplate project where I added a dummy custom request authorizer
[serverless-boilerplate.zip](https://github.com/AnomalyInnovations/serverless-bundle/files/4203690/serverless-boilerplate.zip)

Deploy it and click on the URL in the console. Alternatively, go to Amazon API Gatewa

[2020-02-14 19:27] Susan123456789 commented on #43
I was able to get it to work with the serverless-webpack plugin by using layers for canvas (see https://github.com/jwerre/node-canvas-lambda), and setting the webpack config in serverless.yml like so:

[code]
However, now I would like to use serverless-bundle and can't figure out how to get it to work.  I get the same error as @arrayoutofbounds   Please advise.  Thanks!

[2020-02-16 03:45] groffcole opened #69 "I cannot run `npm test` for code that uses the sharp package on a macOS computer."
I am trying to run tests that cover code that uses the sharp package. I am able to deploy from my computer and run the code just fine on AWS.

When I run `npm test` I receive the following error:
`'linux-x64' binaries cannot be used on the 'darwin-x64' platform. Please remove the 'node_modules/sharp/vendor' directory and run 'npm install'.`

And the console points to this line:
`import * as SHARP

[2020-02-16 10:00] avin-kavish commented on #61
Thanks for doing this. One thing I noticed it launches seperate typeschecking instances for each entry point at once when  `package: individually: true` is set. I only have 8 functions at the moment so it's fine but I expect to have more. I'm not sure if this is the best way to type check. One typecheck across the whole codebase should be enough. Entry points don't make a difference in the context

[2020-02-16 10:03] avin-kavish commented on #61
Also, does tree shaking work for `node_modules` ? If not invidual packages might not be worth it.

[2020-02-16 20:40] groffcole commented on #69
I've solved the problem by chance. I deleted the project's entire `node_module` folder and ran a new `npm install`. The tests are running fine now.

These are my custom `bundle` settings:
`  bundle:
    caching: false
    packagerOptions:
      scripts:
        - rm -rf node_modules/sharp && npm install --arch=x64 --platform=linux --target=10.15.0 sharp`

[2020-02-16 20:42] #69 closed

[2020-02-16 21:00] groffcole opened #70 "How can I debug tests in Visual Studio Code?"
I'm trying to debug tests in Visual Studio Code, but I always receive an error like the following:
[code]

How can I properly debug in Visual Studio Code?

[2020-02-17 08:47] karl-run commented on #61
Not sure if I messed up, but for me it did not work importing modules from within an imported module, then the module would just be an empty module.

[code]

In this scenario `myOtherFile.ts` importing `myUtils.ts` would just get an empty module. However myUtils.ts is still loaded, because `console.log` on the root of myUtils.ts would still show up in the output.

This was observed together with `

[2020-02-19 06:03] jeff-kilbride commented on #55
Piggybacking, here, but it's the same basic issue with `jest` configuration. I got the following error when trying to add the `verbose` option:
[code]
Looking through the `createJestConfig.js` file referenced above, there doesn't seem to be a reason to exclude `verbose` from the list of supported options. Am I missing something?

Also, the error is a bit confusing. The `serverless-webpack` package

[2020-02-19 14:05] gndelia commented on #55
because you would maintain your own jest version and configuration, I'd assume 🤔

[2020-02-19 14:10] gndelia commented on #68
if you're packaging your functions with serverless-bundle, you need to expose your functions as ES6 modules

in your custom handler you need to expose your function as

[code]

and import the dependencies with import statements

[2020-02-19 22:25] jeff-kilbride commented on #55
Ha! Yeah, I didn't think of that...   😄

This is a great package, so I don't want to come across as harsh. I completely understand why it was modeled on the `CreateReactApp` stuff. However, `CRA` is really restrictive in what it allows you to do. To make configuration tweaks, you either have to eject the project or use another `npm` package like `react-app-rewired`. Not sure `serverless-bundle` ne

[2020-02-20 10:58] phobetron opened #71 "Allow serverless-webpack configuration options to pass through"
Currently, I need to set `keepOutputDirectory: true` for `serverless-webpack`, but I can't. There should be a way to pass valid options through to `serverless-webpack` instead of shaming people for needing more than the defaults.

[2020-02-21 18:27] david-l-riley commented on #71
Seconded. It's good to have a nice set of defaults that work for most people, but refusing to expose the knobs for controlling things where the default won't suffice is incredibly frustrating.

[2020-02-21 18:29] david-l-riley commented on #61
So far, this is mostly working for me. However, there are a few things that would be nice to be able to override in the Webpack config, but we're explicitly prevented from doing so for some reason? For example, if I need to add aliasing for things that need overrides because they're not compatible out of the box with Webpack, I can't do that.

[2020-02-22 23:11] MarcWadai commented on #71
+1

[2020-02-23 02:42] jayair commented on #71
While we are definitely trending in the direction of adding most of the Webpack options, I'm not sure what's giving the impression that we are refusing to expose all the options?

That said `keepOutputDirectory` is something we should add. I'm happy to accept PRs for this.

While we are on the subject, what other serverless-webpack options do we have left? Aside from the `webpackConfig` option; si

[2020-02-23 02:48] jayair commented on #61
Published a new beta with https://github.com/AnomalyInnovations/serverless-bundle/pull/67

[code]

[2020-02-23 03:23] jayair commented on #55
@gndelia The monorepo setup where `serverless-bundle` is at the root level is pretty common. It's some thing we use internally as well. So we should handle this well.

Just looking into it we need to set the `rootDir` https://github.com/AnomalyInnovations/serverless-bundle/blob/master/scripts/config/createJestConfig.js#L32 by setting the `appPath` https://github.com/AnomalyInnovations/serverless-b

[2020-02-23 03:48] jayair commented on #70
Hmmm I don't have experience with VS Code. But are you setting the test script in your `package.json`?

[code]

[2020-02-23 03:50] groffcole commented on #70
Yes, this is my scripts section:
[code]

What IDE do you use for developing Serverless Framework applications? Are you able to debug tests wit it?

[2020-02-23 03:50] jayair commented on #43
@Susan123456789 So are you looking for a way to tell serverless-bundle to not package the `canvas` then?

[2020-02-23 05:35] jeff-kilbride opened #73 "Allow more control over jest configuration"
As stated in https://github.com/AnomalyInnovations/serverless-bundle/issues/55#issuecomment-588051621  -- the current way the configuration for `jest` is built, based on the `create-react-app` model, is very restrictive. There are many options it would be nice to have available when running `npm test` from `serverless-bundle`. For example, `verbose` and `bail` are two I use frequently, but they ar

[2020-02-23 05:51] jeff-kilbride commented on #70
What do you have in your launch configuration? It looks like you're pointing VS Code at the normal javascript files, rather than the webpack generated files / maps. Node doesn't recognize `import` statements outside of ECMAScript modules -- and only recognizes modules with an experimental command line flag.

[2020-02-23 13:14] photobook-generator commented on #43
@jayair yes, that would work for me.  I ended up forking the serverless-bundle repo and adding canvas to the forceExclude.  Can you perhaps expose the forceExclude in serverless-bundle?

[2020-02-23 13:17] Susan123456789 commented on #43
@jayair sorry, i accidentally responded from the wrong account.  That last was from me.

[2020-02-23 16:31] jayair commented on #55
@gndelia @pal I looked into it a bit more and I got this to work. Let's take your structure:

[code]

In `proy1/package.json` use this as your `test` command:

[code]

This will only run the tests inside `proy1/`.

Let me know if that works for you.

[2020-02-23 19:36] groffcole commented on #70
In the root of my project i have this `launch.json` file:
[code]

In my Serverless Framework project at `{root}/application`, I have this `launch.json`:
[code]

This is a "monorepo" project, and the code is here: https://github.com/groffcole/art-center-service. You can see how I have three separate Serverless Framework services. The one that includes unit tests is `application`.

[2020-02-24 03:52] jayair commented on #61
Pushed another version with https://github.com/AnomalyInnovations/serverless-bundle/pull/65

Supporting `.gql`

[code]

[2020-02-24 04:35] jeff-kilbride commented on #70
@groffcole @jayair

I can get it to run a test, but I can't get it to hit the breakpoints. They are greyed out, which means it can't make the connection between the original files and the webpack generated ones. Here's what I have, so maybe someone else can chime in:

[code]
Couple of things:
- This is meant to be run from the source file you want to test / debug. It will only run the test for tha

[2020-02-24 13:35] caligo-erik commented on #68
Thanks for your reply.

Since this problem concerned only our custom authorizer function, I came to the wrong conclusion.
After a comparison with other lambda functions I have updated the code as follows:

`
module.exports = {
  handler: async (event, context, callback) => {
    callback(null, generatePolicy('user', 'Allow'));
  }
}
`

Now it works, thanks.

[2020-02-24 13:35] #68 closed

[2020-02-24 14:28] david-l-riley commented on #71
That impression comes from the copy in README.md:

[code]

But the problem is that if you want to do something outside of what's explicitly exposed, you have to go and edit the source to add it to the webpack config (I suppose it could also be done with scripts, but that seems kinda gross).

I don't think adding an option to overlay custom options would be really invalidating the purpose of the pl

[2020-02-24 20:02] jeff-kilbride commented on #71
Agreed. While `serverless-webpack` does do a good job, they also recognized the need for customization of the underlying config:

https://github.com/serverless-heaven/serverless-webpack#full-customization-for-experts

The `serverless-bundle` package is a great idea and makes setting things up very easy -- and I appreciate that. I just think the `create-react-app` model of restricting access to var

[2020-02-24 21:32] jayair commented on #66
Hmmm we don't remove the warmup files. We only ignore them for ESLint and Babel, etc. We simply move it over to the package directory.

If we removed them, then the warmup plugin won't work right?

[2020-02-24 21:51] MarcWadai commented on #71
Yes, your work on the package is amazing, and save lot of time for developer. But when some minor changes needs to be done, it is very frustrating to not be able :/
Concrete example, I got problem from webpack not being able to read properly module.exports (trying to convert everything into import/exports ES6 format). And could have solve it easily by adding some conf to the babel package.. which

[2020-02-24 23:45] patrykkrawczyk commented on #66
I believe _warmup files is the function code of the Lambda function that is calling a function that needs to be warmed up.
It seems that when using warmup plugin after packaging, we get two functions:
1. a function that warms up other function
2. a function that is being called by the function 1
Function 2 is put into folder _warmup, and function 1 does not need this folder to work.

[2020-02-26 15:23] gndelia commented on #55
yes, that seemed to do the trick.

Thank you !!

[2020-02-27 13:32] karl-run commented on #61
Ref. my comment above, I created a minimal reproduction of my issue:

https://github.com/karl-run/serverless-bundle-ts-repro

`handler.ts` imports `other.ts`, this works fine.
`other.ts` imports `third.ts`, this doesn't work. The import from `third.ts` resolves to `{}` for some reason.

[2020-02-27 14:57] caligo-erik opened #76 "Unexplainable code behavior"
Issue solved.

[2020-02-27 17:00] tume commented on #61
@karl-run managed to get it running with this tsconfig.json

[code]

Changed target to es2017 and module to ES6. Currently will go through babel after compiling to javascript so can target newer than ES5... didn't dig through (yet) how the produced code is different. Maybe someone who knows ts & Webpack & babel better could explain? :).

[2020-02-28 08:01] karl-run commented on #61
Hmm.. Using that `tsconfig.json` I still get the same error.

[code]

Could it maybe be related to #29?

[2020-02-28 10:57] tume commented on #61
That is strange... I now tried reverting the config to original and mine works still :)

So deployed the function to AWS and seems to be working with a small amount of testing. Dunno if there is some caching issue with serverless-offline/nodeJS ?  Can now also replicate by removing node_modules and reinstalling them... no idea why that affects anything tough.

I only managed to do some quick testi

[2020-02-28 11:12] avin-kavish commented on #61
What about the multiple typechecking issue?

[2020-02-28 12:29] caligo-erik commented on #76
Issue solved. Problem was not related to serverless-bundle

[2020-02-28 12:29] #76 closed

[2020-02-28 19:18] Susan123456789 opened #77 "Error when using pdfkit: "Error: ENOENT: no such file or directory, open '//data.trie'""
I am trying to switch from serverless-webpack to serverless-bundle, but I cannot get it to work with pdfkit.  I get the following error when trying to invoke my lambda:

[code]

I was able to use pdfkit with no problems when using serverless-webpack with the following webpack.config.js:

[code]

How can I configure serverless-bundle so that pdfkit works?  Thanks in advance.

[2020-02-28 21:03] gndelia commented on #55
It's me again @jayair

I'm now, given this setup explained, trying to read coverage only from the MS where I've run the tests. I see here https://github.com/AnomalyInnovations/serverless-bundle/blob/master/scripts/config/createJestConfig.js#L12 that `collectCoverageFrom` is supported, but it will gracefully extend whatever I passed to the default that already covers all files. Perhaps should  be o

[2020-03-01 22:32] jayair commented on #73
Yeah that makes sense. Is there something comparable out there? So we could piggyback on their design of `jest.config.js`?

[2020-03-01 22:50] jayair commented on #43
@Susan123456789 Got it. Yeah we'll expose it. But if Canvas cannot be used with Webpack then we should automatically exclude it.

@arrayoutofbounds are you doing something similar with the Canvas library?

[2020-03-01 23:04] jayair commented on #70
Yeah this needs some investigation. Can you share the guide from the jest site? We need to build this into `serverless-bundle`

[2020-03-02 00:05] groffcole commented on #70
Is there another IDE that currently allows debugging?

[2020-03-02 00:09] jayair commented on #71
Thanks for the feedback all. I'll add this to the README after but we want to do a couple of things for customization cases like this:

- If there is a common need, we want to build it into the plugin. This helps because we don't want to start having people managing these overriding configs. It also means that you can simply include the plugin and it would work out of the box for majority of cases

[2020-03-02 00:24] jayair commented on #66
@patrykkrawczyk Can you try the same setup in your post but disable the bundle plugin? And see if you see something different?

[2020-03-02 00:45] jayair commented on #61
Just pushed another beta. Merged https://github.com/AnomalyInnovations/serverless-bundle/pull/74.

[code]

[2020-03-02 00:49] jayair commented on #55
@gndelia Can you post the steps to recreate this?

[2020-03-02 00:56] jeff-kilbride commented on #73
There's a [serverless-jest-plugin](https://github.com/nordcloud/serverless-jest-plugin) -- but I've never used it and don't know how good or up-to-date it is. However, it might provide some insight. I haven't written any `serverless` plugins, so it might be easier for you to understand glancing at the code. It may be as easy as removing the `jest` stuff from `serverless-bundle` and including this

[2020-03-02 01:07] jeff-kilbride commented on #73
Honestly, another idea would be to add the rest (or majority) of the `jest` configuration options to the list of `supportedKeys` in the current `createJestConfig.js`. I don't think the way you're doing it, right now, is necessarily bad -- just too restrictive. There are lots of options that could be supported, just by extending that list of `supportedKeys`.

[2020-03-02 01:56] jayair commented on #77
Hmm that's curious. Could you create a sample repo for this? Or your handler file and `package.json`?

[2020-03-02 02:01] jeff-kilbride commented on #70
@jayair
Here is the [jest guide for webpack](https://jestjs.io/docs/en/webpack).

@groffcole
It's not VSCode. I believe the problem is, we need to be able to pass command line arguments through `serverless-bundle` to `jest` (and possibly `webpack`) in order for it to work correctly. For example, here is a starter project for debugging `jest` tests with VSCode:

https://github.com/hamzahamidi/jest-

[2020-03-02 02:20] arrayoutofbounds commented on #43
I was able to get it to work by using layers as well. I did the exact same steps as @Susan123456789 .

The issue was that the layers have to be done manually for each lambda function and that is not realistic.

I ended up not using canvas due some issues. But would love to use it in the future along with serverless bundle.

[2020-03-02 11:33] gndelia commented on #55
Sure
it's the same scenario as we discussed before https://github.com/AnomalyInnovations/serverless-bundle/issues/55#issuecomment-590087775

when I run

[code]
it runs the tests from that proy1, successfully.

Now, when I add the `coverage` option, it collects coverage from the entire solution. According to the code, I can customize jest with a `jest` option in `package.json` and I could specify f

[2020-03-02 18:30] Susan123456789 commented on #77
@jayair here is a sample repo:

https://github.com/Susan123456789/serverless-bundle-pdfkit

You can see the error just by invoking the hello lambda locally:

[code]

[2020-03-02 18:41] Susan123456789 commented on #43
@jayair exposing forceExclude would be great.  This is the second time I have run into this situation, the first time being with the sharp library.  According to this thread it looks like canvas cannot be bundled with webpack: https://github.com/Automattic/node-canvas/issues/867

[2020-03-02 19:26] Susan123456789 commented on #77
@jayair here is another sample repo using the pre-serverless-bundle version of the serverless-nodejs-starter (https://github.com/AnomalyInnovations/serverless-nodejs-starter/tree/v1.5.1) and pdfkit:

https://github.com/Susan123456789/serverless-bundle-pdfkit-2

This one works fine.

[2020-03-02 20:39] blai commented on #45
I ran into the same problem. After some debug, I found that the dynamic importing of knex.js and sequelize.js isn't the same. While both are dynamic import depending on the configuration, [knex does it with a static import at dialect implementation level](https://github.com/knex/knex/blob/master/lib/dialects/postgres/index.js#L48), while [sequelize configure it at dialect level, and invokes `requi

[2020-03-04 00:11] blai commented on #45
BTW, I found the work around [in here](https://github.com/sequelize/sequelize/issues/9608). Basically Sequelize config accepts a `dialectModule` option, which would allow webpack to work around the dynamic import issue. Here's some code fragments I extract from an working example:

[code]

[code]

[2020-03-05 19:17] Susan123456789 commented on #77
I was able to fix it temporarily at least by forking serverless-bundle, installing transform-loader and string-replace-webpack-plugin, and editing the src/webpack.config.js file as this guy did:

https://github.com/Pzixel/PDFKit-example/pull/1/commits/951ab7ff6b5146d1bb47e176627d7ea2402a634a

(Found this in this discussion:  https://github.com/foliojs/pdfkit/issues/990)

I didn't have to do all of

[2020-03-08 17:39] jayair commented on #73
Hmmm let me quickly get a sense of which options you are currently looking for?

[2020-03-08 17:41] jayair commented on #70
@jeff-kilbride Thanks for the repo!

I haven't found time to look into this yet. If anybody wants to take this on, we need to figure out which options need to be passed in to `serverless-bundle` to make the debugging work. Alternatively, if we can look at https://github.com/hamzahamidi/jest-starter to see how it would work with Webpack.

[2020-03-08 17:51] jayair commented on #55
@gndelia Got it. Yeah I'll need to investigate this further.

[2020-03-08 18:03] jayair commented on #43
Got it. Let me start by excluding Canvas then.

Btw, @Susan123456789 for the sharp library, does our documented solution work for you? https://github.com/AnomalyInnovations/serverless-bundle#sharp

[2020-03-08 18:08] jayair commented on #45
@blai Thanks for investigating and posting this. Agreed, that we need specific examples. Do you mind contributing one for this case?

Btw, we have this note in the README and I noticed that it has the right option `ignorePackages` but does not mention the `dialectModule`. https://github.com/AnomalyInnovations/serverless-bundle#pg

[2020-03-08 18:10] jayair commented on #45
For now, let me add a note to the README with your instructions. Later we can link to an example.

[2020-03-08 18:55] jayair commented on #77
@Susan123456789 That's a really good point. I'd want to figure out what's going on here. It would be good if we don't have to include all that.

Thanks for all the resources.

[2020-03-08 18:56] jayair commented on #77
If somebody wants to help with this, let's figure out why the simple Webpack config works and what `serverless-bundle` is missing (or is adding that's conflicting).

[2020-03-08 19:02] gndelia commented on #55
Let me know if I can help in any way!

[2020-03-08 19:04] jayair commented on #55
@gndelia Thanks! My hunch is that it won't be possible to pass it through the `package.json`. So we might have to pass it as a command line option instead. We'll need to investigate a way to do that.

[2020-03-09 07:35] whoishoa opened #80 "found 16 moderate severity vulnerabilities"
Hi,

Every time I add serverless-bundle to my package.json, I get 16 security vulnerabilities which I must fix manually:

When I run `npm audit fix`, it says I must fix them manually. So I run `npm audit` and I get:

`───┘
┌───────────────┬──────────────────────────────────────────────────────────────┐
│ Moderate      │ Regular Expression Denial of Service                         │
├──────────────

[2020-03-09 14:55] Susan123456789 commented on #43
@jayair Yes, that solution worked for the sharp library

@arrayoutofbounds I'm not sure what you mean by the layers having to be done manually for each lambda.  I downloaded the layers from https://github.com/jwerre/node-canvas-lambda and created a serverless.yml file to create the layers like so:

[code]

Then I can use them in individual lambdas like so:

[code]

[2020-03-13 14:15] richja opened #81 ""Cannot find module" error when working with Puppeteer"
I am trying to follow structure of https://github.com/AnomalyInnovations/serverless-stack-demo-ext-api

But cannot get work serverless-bundle together with [chrome-aws-lambda](https://github.com/alixaxel/chrome-aws-lambda) in order to use puppeteer.

When service is started with `sls offline` and endpoint is hit with payload to trigger the function, error below is thrown.

The function works corre

[2020-03-14 13:52] BhuvaneshwaranR opened #83 "ignorePackages custom option is not working as expected."
I've tried to ignore the chrome-aws-lambda package but it's not ignored as expected. Please check the following code and correct me if I'm wrong.

custom:
  bundle:
    ignorePackages:
      - chrome-aws-lambda

[2020-03-14 22:10] BhuvaneshwaranR commented on #81
Hi,
I've tested package exclude option is not working as excepted and there is an alternate way to resolve, we've to leverage the feature of serverless-webpack external [options ](https://github.com/serverless-heaven/serverless-webpack#node-modules--externals). The solution is already been [implemented](url)(https://github.com/AnomalyInnovations/serverless-bundle/pull/84). It needs to be tested an

[2020-03-21 16:35] DuncanLewis commented on #59
@jayair This is still happening and haven't been able to figure this out for myself yet - any suggestions for implementing the suggested fix on the apollo repo?

As a reminder, this was the suggested fix:

[code]

Thank you!

[2020-03-23 19:35] Targun commented on #28
It seems like the node_module "wpapi" is using "require" which is not getting bundled into the webpack?

[2020-03-25 17:39] thibaultdalban commented on #61
Hi,

When I try to package my service, I hit this error:
[code]

I successfully packaged my service using `serverless-webpack` but I don't understand why it fails using `serverless-bundle`.
Do you have any clues?

[2020-03-25 20:36] pal commented on #55
Thanks for that idea @gndelia, it won't work in my case however, since I'm only using a single `package.json` in my root dir.

For now, I'm able to use a prefix on test names and run tests using `yarn test -t TESTPREFIX`, or `npm test -t FOLDERNAME`. 🤷‍♂

[2020-03-27 22:03] chip commented on #28
I have a similar issue, so what is needed to bundle "require"?

[2020-03-29 01:00] patrykkrawczyk commented on #66
with serverless-bundle commented out in serverless.yml I get a zip package with all contents of my project inside, along with _warmup folder @jayair

[2020-03-30 21:04] jayair commented on #66
Just to double check, is that the same as if you are using the bundle plugin?

[2020-03-30 21:08] jayair commented on #28
I think in general we don't support `require`. I see a lot of packages are updating to switch to `import`. Which package are you having an issue with?

[2020-03-30 21:16] jayair commented on #55
We could use some help looking into generating the coverage reports for monorepo setups!

[2020-03-30 21:30] jayair commented on #59
Ah @DuncanLewis I think we might need to add this plugin to the Jest config for the tests. Can you possibly try adding it here and testing it? https://github.com/AnomalyInnovations/serverless-bundle/blob/master/scripts/config/babelJestTransform.js#L6

If it works, open a PR with it?

[2020-03-30 21:37] jayair commented on #83
Hi there, I noticed the PR that you opened. Was it related to this issue?

[2020-03-30 21:42] jayair commented on #80
Yeah there was a security update that's been added. We upgrade it for our repos.

[2020-03-30 22:46] jayair commented on #61
Minor update with https://github.com/AnomalyInnovations/serverless-bundle/pull/79

[code]

[2020-03-30 23:45] patrykkrawczyk commented on #66
if im using bundle plugin:
- _warmup folder + zip package
without bundle plugin:
- _warmup folder + zip package + all other project files

[2020-03-31 01:51] chip commented on #28
Hi @jayair - Thanks for the prompt reply. I think the issue was with the formidable library, which was an indirect dependency on my project. In any event, I was able to resolve the issue by using the serverless-webpack plugin.

[2020-03-31 15:08] BhuvaneshwaranR commented on #83
@jayair  Yes

[2020-03-31 15:08] #83 closed

[2020-04-01 13:24] Maxim-Filimonov commented on #61
I'm running into type checking issues with top level package.json dependencies.
[code]

The function runs without issues it's just type checker unhappy about something.

[2020-04-02 06:04] Exgaves opened #87 "Babel Plugin mismatch between webpack and jest"
Currently in **src/webpack.config.js** the plugins for babel include:
`[
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]`

However in **scripts/config/babelJestTransform.js** there are no plugins supplied, just the default **@babel/preset-env**.

This means code can be written using class properties, that will build and deploy but cannot be tested.

Since *

[2020-04-02 13:43] Maxim-Filimonov commented on #61
It seems it doesn't recompile with `sls offline`.

At least when I changed handler.ts and then manually run requests via curl it returned to me old response.

[2020-04-02 13:55] david-l-riley commented on #61
I've noticed this as well (including with older versions), though I keep forgetting to mention it. `sls offline` (including the 6.0 beta) will recompile it, which does at least give any linting/syntax errors, but it doesn't seem to reload the Webpacked content.

[2020-04-03 16:23] groffcole commented on #61
I'd like to try using `serverless-bundle` with TypeScript support but I'm not exactly sure how to start. For a regular project, I'd create a new Serverless Framework project using the AWS Node.js template, install `serverless-bundle`, update the `serverless.yml` file to include the plugin, and then things just work.

What extra steps do I need to do so that I can do the steps above but write my co

[2020-04-09 17:00] bart opened #88 "Problem with aws-sdk in third-party package"
Hey everyone,

I'm on the latest version of serverless-bundler plugin. When I deploy a service I'm getting the following error when trying to execute lambda function online:

[code]

My blog service uses the `serverless-dynamodb-client` package to fetch data from dynamodb. Looks like this package needs `aws-sdk`. As far as I know it should be installed on AWS Lambda already so I don't understand w

[2020-04-09 20:42] bart commented on #88
I created an example project so that you can reproduce in 10 seconds:

https://github.com/bart/serverless-bundle-issue-example

[2020-04-09 21:21] bart commented on #88
My used third-party package `serverless-dynamodb-client` requires `aws-sdk` as a dependency which causes the error. Reason is this line in index.js of `serverless-bundle`:

[code]

If I replace it by

[code]

`aws-sdk` gets packed as external module but for sure blows up the size of that service. So the main question here is: Why does the dependency `aws-sdk` of `serverless-dynamodb-client` doesn'

[2020-04-10 05:39] bart commented on #88
All right, solved it with a fresh mind! For anyone who comes up with the same issue: Reason was the line `NODE_PATH: "./:/opt/node_modules"` set as provider.environment. You must remove this line and it works! You just need it fror serverless projects running on layers which I don't have anymore after splitting up my code into separate services. Cheers!

[2020-04-10 05:39] #88 closed

[2020-04-11 19:32] patrykkrawczyk commented on #61
Because of the added dependency `concat-text-webpack-plugin` the beta version does not work with LTS version of Node (12+).
I've created an issue within their repository to update it https://github.com/namics/webpack-concat-text-plugin/issues/6

[2020-04-12 12:26] patrykkrawczyk commented on #61
The mentioned issue is closed and we are supposed to use version 0.1.6 to mitigate mentioned error with `concat-text-webpack-plugin`

[2020-04-12 17:11] jayair commented on #66
I'm a little confused here. Can you tell me what the issue is?

[2020-04-12 17:27] jayair commented on #87
I think this PR solves that — https://github.com/AnomalyInnovations/serverless-bundle/pull/86

It should be merged soon.

[2020-04-12 17:41] jayair commented on #61
@patrykkrawczyk If we are using the older version, can you submit a PR to the beta branch?

@groffcole I'm not terribly familiar with TS but can you post the issues you ran into and the folks here could help.

[2020-04-12 17:51] jayair commented on #61
Adding TS support for ESLint. Thanks to https://github.com/AnomalyInnovations/serverless-bundle/pull/85.

[code]

[2020-04-12 23:52] patrykkrawczyk commented on #61
@jayair added the change https://github.com/AnomalyInnovations/serverless-bundle/pull/89
Can we also rebase beta branch to include fix for formidable?

[2020-04-13 00:09] patrykkrawczyk commented on #28
@chip @thiagoneves
I believe this should be fixed with recent 1.4.0 version

[2020-04-13 00:43] patrykkrawczyk commented on #66
When using warmup plugin together with bundle plugin, after you package your lambda function you will have a zip file in `.serverless` directory.
Within this zip, you will actually have two functions instead of one.
If your function name is `hello`, then within your `hello.zip` you will have code for the `hello` function **and** for the `warmup` function. So it's basically uploading two functions

[2020-04-13 00:49] patrykkrawczyk commented on #66
[code]

Notice how the `_warmup` directory is duplicated in `hello.zip`

[2020-04-13 20:41] jayair commented on #61
Yup merged https://github.com/AnomalyInnovations/serverless-bundle/pull/89 and up to date with master.

[code]

[2020-04-19 02:10] jayair commented on #66
Hmm if I run the steps in your original post with the bundle plugin I get this:

<img width="882" alt="Screen Shot 2020-04-18 at 10 07 25 PM" src="https://user-images.githubusercontent.com/53023/79677596-2523dd00-81c1-11ea-83be-f8f17fdae33c.png">

And with the bundle plugin commented out, I get this:

<img width="882" alt="Screen Shot 2020-04-18 at 10 06 18 PM" src="https://user-images.githubuserc

[2020-04-19 10:20] patrykkrawczyk commented on #66
Thats the issue. Let's focus on the first case.
Why is there `_warmup` directory in `hello.zip`?
It's not used for anything and just increases zip size.
`hello.zip` should only contain `handler.js` and `handler.js.map`

For warming up there's another zip called `warmUpPlugin.zip`.

[2020-04-19 16:19] jayair commented on #66
But from my quick test, this happens with or without the bundle plugin. So it doesn't seem related?

[2020-04-19 16:26] patrykkrawczyk commented on #66
bundle plugin is removing all other files except for the _warmup directory

[2020-04-19 21:18] jayair commented on #66
I don't have a ton of experience with the warmup plugin. But wouldn't it make more sense to tell them not to add that file in the package?

[2020-04-19 22:31] patrykkrawczyk commented on #66
I think during webpack build this directory `_warmup` is being created to build `warmUpPlugin.zip`. The files then are picked up by serverless-bundle and are added to other zips. I don't think it's possible for them to mitigate this. The `warmUpPlugin.zip` package still needs to be build but for other functions it should be ignored like all other files are ignored.

[2020-04-19 22:36] jayair commented on #66
Can you provide steps to reproduce this? Because as I said above, even with the bundle plugin disabled, the files are still there.

[2020-04-20 11:36] suryacaprice commented on #23
how to i do forceExclude in serverlesss bundle

[2020-04-22 02:58] suryacaprice opened #92 "Adding permissions support"
Hi can you please add https://www.npmjs.com/package/webpack-permissions-plugin to have the fs support as well in the configuration. We use lots of files in the project and need it for the build to work.

[2020-04-22 06:29] suryacaprice commented on #92
Basically i need these options https://nmajor.com/posts/serverless-framework-executable-binaries-aws-lambda

[2020-04-24 08:13] MrSpark2591 opened #93 "Warning on using handlebars with the plugin"
Module Warning: require.extensions is not supported by webpack. Use a loader instead.

/node_modules/express-handlebars/lib/express-handlebars.js 12:17-38
/node_modules/express-handlebars/index.js

[2020-05-02 23:58] wamir79 opened #94 "error using momonet.js"
how can I add moment.js locale file to serverless bundle?

Thanks for any help :)

I tried the following:

[code]
then in file handler.js add
[code]
and update hello with just call to `moment();` (to avoid lint error)

when running local run:
[code]

the error received:
`Error: Cannot find module './locale'`

[2020-05-03 00:11] jayair commented on #23
Currently that's built into the plugin. What are you looking to exclude?

[2020-05-03 00:25] jayair commented on #92
We currently support the copy files option. It seems like if we can also copy the files with the right permissions it would address this. I don't think we need a separate option for this. If somebody wants to take this on, here is the relevant part.

https://github.com/AnomalyInnovations/serverless-bundle/blob/36afd2b25cbf78c8c795f2c4a81c5c3cd40e792e/src/webpack.config.js#L106

[2020-05-03 00:30] jayair commented on #93
Can you provide more details? Is it just a warning? Is it failing to bundle?

[2020-05-03 00:48] jayair commented on #94
I know what's causing this:

https://github.com/AnomalyInnovations/serverless-bundle/blob/36afd2b25cbf78c8c795f2c4a81c5c3cd40e792e/src/webpack.config.js#L119

It's being done to keep the bundle size small — https://github.com/jmblog/how-to-optimize-momentjs-with-webpack#using-ignoreplugin

Can you try adding the specific locale and let me know if that fixes it?

[code]

[2020-05-03 08:23] wamir79 commented on #94
Thanks for your help!!

well it didn't solve my issue. i tried other things like copy the file with:

[code]

I put a fork with the tries in:
[code]

Thanks again!

[2020-05-04 05:18] MrSpark2591 commented on #93
No, it's not failing the build.

Posting warnings that I get while webpack build happens.
[code]

[2020-05-04 18:19] wamir79 commented on #94
issue solved here:

https://stackoverflow.com/questions/61567780/error-using-moment-js-with-serverless-bundle

[2020-05-04 18:19] #94 closed

[2020-05-07 11:09] roni-frantchi commented on #61
Hey.
Just wanted to bring something up -

One feature of TypeScript that is very useful in monorepos is TypeScript's [Path Mapping](https://www.typescriptlang.org/docs/handbook/module-resolution.html) so that one may `import` based on relative base url set in `tsconfig`.
WebPack doesn't support those kinds of import natively, and thus we're using [this plugin](https://github.com/dividab/tsconfig-p

[2020-05-08 07:10] klardotsh commented on #61
@roni-frantchi it needs cleaned up a bit (the changes/fixes I did were very bespoke to our use at Logixboard, barely documented, etc.) but check out https://github.com/logixboard/serverless-bundle/commits/lxb, and specifically https://github.com/logixboard/serverless-bundle/commit/3739db912982adebeffdd752a07e02bf9b6498af, which uses https://github.com/dividab/tsconfig-paths-webpack-plugin to solve

[2020-05-08 17:13] dhavalocked commented on #61
You found any solution to this? I am facing similar problem.

[2020-05-11 14:08] eskonuutila opened #95 "Unexpected Webpack compilation error"
In `sls` commands `package` and `deploy`, compiling using Webpack fails with the following error message:

[code]

So it seems that webpack tries to use `babel-plugin-transform-runtime` instead of `@babel/transform-runtime`. Directory `node_modules/@babel` contains `plugin-transform-runtime` as well as several other plugins.

Below are my simple `package.json` and `serverless.yml` files. How can I

[2020-05-11 14:22] eskonuutila commented on #95
Here is `src/indexify.main`, which probably doesn't cause the error.

[code]

[2020-05-14 08:46] StErMi commented on #61
is there some example that shows off how you should correctly structure your code with the typescript version fo the plugin? Maybe a TS version of the [serverless-nodejs-starter](https://github.com/AnomalyInnovations/serverless-nodejs-starter) and [serverless-stack-demo-api](https://github.com/AnomalyInnovations/serverless-stack-demo-api)

[2020-05-14 09:08] dhavalocked commented on #61
Typescript support is not yet available in master.  You can install using [this](https://github.com/AnomalyInnovations/serverless-bundle/issues/61#issuecomment-613087586).

[#51-comment](https://github.com/AnomalyInnovations/serverless-bundle/pull/51#issuecomment-582086181) show details on how to use it with typescript.

I am working on this since last 2 weeks and its amazing, let me know if you n

[2020-05-14 09:35] StErMi commented on #61
@dhavalocked a serverless monorepo starter would be amazing, it would allow me to learn (I'm totally new to AWS/serverless) from a working example that follows the best practice.

[2020-05-14 11:04] dhavalocked commented on #61
@StErMi I have created a sample [repo](https://github.com/dhavalocked/typescript-serverless-monorepo).. This should get you started. Make sure you are using `serverless-bundle beta release`.

There are ways to optimise many things in this repo However this is just a basic structure that can get you started.

[2020-05-15 18:38] vquigley commented on #24
Error feedback in the editor would be much welcome.

[2020-05-15 23:22] braco commented on #33
There's still no way to raw-load a file, is that right?

[2020-05-17 17:49] jayair commented on #93
Hmm it sounds like it doesn't support Webpack. Any ideas how to use handlebars with Webpack?

[2020-05-17 17:54] jayair commented on #94
Oh glad that fixed it.

[2020-05-17 17:59] jayair commented on #95
I notice you are using `v1.2.5`. Can you try it with the current version `v1.4.0`?

[2020-05-17 18:07] jayair commented on #33
I think so. If somebody wants to take this on and add a PR, we can add it in.

[2020-05-18 04:56] MrSpark2591 commented on #93
https://handlebarsjs.com/installation/integrations.html

If you can guide me I can try giving a fix PR.

[2020-05-20 14:58] jliebrand commented on #29
@Reiner0 @jayair - don't s'pose there's any update on this?

[2020-05-22 17:08] jliebrand commented on #29
Just added a PR to fix this
https://github.com/AnomalyInnovations/serverless-bundle/pull/96

[2020-05-22 19:13] jliebrand opened #97 "Add support for excludeFiles to remove warnings?"
I have my handler code like this:
[code]

I'm getting warnings about finding multiple handlers, which stems from this:
https://github.com/serverless-heaven/serverless-webpack/issues/433

Not sure the best way to add support for excludeFiles in serverless-bundle though? I.e. I can pipe it through and create a PR, but is that what we want or do we want the bundle to do some sensible defaults here in

[2020-05-22 19:13] jliebrand commented on #97
e.g. Convention over configuration ?

[2020-05-24 19:32] jayair commented on #29
Thanks Jelte! I'll review and merge the PR soon.

[2020-05-24 21:01] jayair commented on #61
Merging latest changes in master (https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/1.5.0 & https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/1.6.0) and bumping up the version.

[code]

I think we should start preparing for a public release of v2 with TS support. It would be good to figure out what else we need to fix/support!

[2020-05-25 06:26] StErMi commented on #61
@jayair I'm not a super TS expert in the config/building but I'm happy to give you support in testing. I think that an optimized config could bring a lot of benefits but I really don't know how to help here :D

[2020-05-26 02:13] janjanarnaldo commented on #61
Hi guys, do you have any idea how to isolate the tsconfig on a backend for frontend structure? Basically, this typechecks the entire repo instead of the serverless folder only. Here's my sample structure:

├── client # Frontend components
├── serverless
│   └── src #handlers
├── services
│   └── application
│   │   └── functions.yml
│   │   └── serverless.yaml # per service config
└── serverless.y

[2020-05-27 04:24] OmarKhattab opened #98 "does not work with discord.js"
{
             name: 'TypeError',
              code: 500,
              method: 'post',
              path: '/webhooks/{{webhooknumber}}/{{webhookstring}}?wait=true'
 } AbortController is not a constructor

get this error, when i remove serverless-bundle and do es5 code it works

It complains about abort controller

[2020-05-28 05:29] tomeraz opened #99 "how can I bundle the package 'isomorphic-webcrypto'?"
I'm importing SigV4RequestSigner from npm package [amazon-kinesis-video-streams-webrtc](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js)
Getting the following error on build:
[code]

Looks like in order for webpack to bundle properly webpack config needs to contain:
[code]

as shown in this [webpack config](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js

[2020-05-28 09:01] StErMi commented on #61
Hi, @jayair I have a question. I've some config.ts files that are not directly required by the code but a library is trying to find them. It's a problem because webpack is not including them in the build.

Is there a way to configure serverless-bundle to include them?

[2020-05-30 13:29] StErMi opened #100 "minified build"
Hi, I was comparing the result of the serverless-bundle (I'm using the beta branch because I'm using typescript to develop) with serverless-plugin-ncc and I see that the final bundle of serverless-bundle is quite havier compared to serverless-plugin-ncc

index.js from serverless-bundle is 2,319KB
indexjs from serverless-plugin-ncc is 1,105KB

I don't know internally if there are differences but as

[2020-05-30 17:04] jayair commented on #93
Yeah, I don't know handlebars too well but this loader seems to support importing files with the `.handlebar` extension.

https://github.com/pcardune/handlebars-loader

Have a look at this https://github.com/AnomalyInnovations/serverless-bundle/pull/90/files. It recently added support for importing `.css` and other files. Let me know if that makes sense.

[2020-05-30 17:58] jayair commented on #97
Yeah might be a good idea to use a default `excludeFiles` option and then allow people to override or extend it?

[2020-05-30 18:01] jayair commented on #98
Hmm I need a bit more info about the issue. What's the code you are bundling?

[2020-05-30 18:02] jayair commented on #99
We just added support for extended the `externals` option https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v1.7.0. Not sure if that fixes it for you?

[2020-05-30 18:16] jayair commented on #100
When I had first worked on serverless-bundle, I had worked on minimizing. But it seemed to slow down the build times by a lot. If you are interested in taking this on, I would start by using https://www.npmjs.com/package/webpack-bundle-analyzer to compare the two outputs.

For question 2, I'm not totally sure what you mean. What do you think serverless-bundle is doing different from serverless-plu

[2020-05-30 18:20] jayair commented on #61
@janjanarnaldo That's interesting. Is the issue only with the offline plugin? Or is there an issue with serverless-bundle as well?

@StErMi Maybe create a new issue with a sample project and some steps to reproduce?

[2020-05-30 21:19] tomeraz commented on #99
@jayair I'm pretty new to lambda. Using serverless-stack to setup my own app.
So you're suggesting I can define 'isomorphic-webcrypto' as an external and then load it through a lambda layer to avoid building it with serverless-bundle?

[2020-05-30 23:07] patrykkrawczyk commented on #73
Hi @jayair , bumping this issue since I have this problem too.
I'd like to write tests and use dynamodb as described here https://jestjs.io/docs/en/dynamodb
Therefore I would need to change `preset` is there any progress on this?

[2020-05-30 23:34] patrykkrawczyk commented on #73
I've actually added a small PR for this https://github.com/AnomalyInnovations/serverless-bundle/pull/101

[2020-05-31 07:29] StErMi opened #102 "serverless-bundle output not working"
Hi all,

I'm working on a project that needs to bundle an Alexa skill built with [Jovo](https://www.jovo.tech/) framework.

I've tried to use `serverless-bundle@1.4.0-beta.6` to bundle the skill but when I try to run on lambda it does not work. I think that `serverless-bundle` is bundling it not correctly.

Here you have the public repo with the HelloWorld project example: https://github.com/StErM

[2020-05-31 07:30] StErMi commented on #61
@jayair I've created another issue here: https://github.com/AnomalyInnovations/serverless-bundle/issues/102 I know that's pretty specific but it would be really cool because there are a lot of users out there that develop Alexa skills and I think this will improve the dev ecosystem by a lot!

[2020-05-31 17:16] tomeraz commented on #99
I was able to load the entire library that was using this lib as a layer and using the new externals feature.
Thanks!

[2020-05-31 17:16] #99 closed

[2020-06-02 15:31] OmarKhattab commented on #98
im bundling a library called discord.js

[2020-06-06 12:54] janjanarnaldo commented on #61
Hi @jayair I think it's only for the bundle. Maybe we should expose a custom bundle variable to typecheck/lint specific folders only, if left undefined would typecheck/lint the root folder. I'm already using this beta in my project but I turned off linting in the custom settings because I couldn't see a fix on my issue. Thanks!

[2020-06-09 03:11] FlorentPaillot commented on #73
I also had an issue related to Jest not working properly with Mongoose (see details below as well as a workaround). The fix could also benefit other projects as well because there is a setting that IMHO should be set permanently, which is to set Jest config variable "testEnvironment" to "node" instead of the default value "jsdom" meant for a different development environment.

In details, for my p

[2020-06-13 22:50] jayair commented on #102
Hmm what's the actual error you are getting?

[2020-06-13 23:54] jayair commented on #98
Can you post the error you are getting?

[2020-06-14 00:01] jayair commented on #73
@FlorentPaillot Oh that's a good point. I haven't had a chance to look at this in detail but if we can set it to Node instead, can we do that? If so then please submit a PR!

[2020-06-14 08:27] imewish opened #103 "Sharp modules is being excluded always"
Hello,

I have an image processing project which uses sharp, jimp and pg module. I'm trying the serverless-bundle module for the first time.  Providing the sls config below.

[code]

When I deploy I can see the sharp is excluded from packaging automatically.

[code]

Which results in ` "Error: Cannot find module 'sharp'\nRequire stack:\` error.

Am i missing anything in the config?  I tried adding

[2020-06-16 17:13] bashdosage opened #104 "Aliases not working on jest"
Hi, first of all, I wanted to say what a great job you are doing with this project. It really has made life easier.

I created an alias for a lib directory, and it works fine using serverless invoke, and deploy. When I try to run npm test it cannot find the module. Is this by design? Or could I be missing something?

I added the following to serverless.yml:
custom:
   bundle:
      aliases:

[2020-06-17 14:09] feds01 commented on #103
Having the same issue with version 1.7,0:

The output from 'sls deploy' invocation:
[code]

[2020-06-17 15:20] edu-aguilar commented on #103
Same problem here, my serverless.yml config:

`
service: image-resizer
# app and org for use with dashboard.serverless.com
app: image-resizer
org: xxx

package:
  individually: true

plugins:
  - serverless-bundle
  - serverless-offline

custom:
  bundle:
    packagerOptions:
      scripts:
        - rm -rf node_modules/sharp && npm run test && npm install --arch=x64 --platform=linux --target=12.1

[2020-06-17 15:37] edu-aguilar commented on #103
@feds01 @imewish downgrading serverless-bundle to 1.6.0 make it works.

[2020-06-18 08:26] gilbertronaldo commented on #103
same here ,
already using
[code]

but does not work.

the only solution right now is @edu-aguilar's suggestion, downgrading serverless-bundle package to 1.6.0

[2020-06-21 00:38] jayair commented on #103
@gilbertronaldo @edu-aguilar @imewish @feds01 Thanks for pointing out the issue. As you all found out it was a problem with v1.7.0. It was setting the `externals` to be excluded from the bundle. This has been fixed in v1.8.0:

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v1.8.0

We've also added a new `forceExclude` option for packages that are available in the Lambda runti

[2020-06-21 00:41] jayair commented on #99
@tomeraz Just a heads up, there was an issue with the `externals` option that was causing it to be excluded from the package. This worked for your use case but it breaks for others — https://github.com/AnomalyInnovations/serverless-bundle/issues/103.

To fix this we added a new `forceExclude` option for packages that are available in the Lambda runtime by default or through a Layer. You can read m

[2020-06-21 00:42] jayair commented on #81
For somebody that comes across this, there's a new option if you are including packages via a Layer — `forceExclude`. You can read more about it here — https://github.com/AnomalyInnovations/serverless-bundle#externals-vs-forceexclude

[2020-06-22 19:51] jayair commented on #61
An update, I'm working towards getting TS support to a public release.

Merging with master and adding support for TypeScript's path mapping. Thanks @roni-frantchi @klardotsh.

Upgrade with:

[code]

@dhavalocked Can you try this minimal `tsconfig.json`:

[code]

@janjanarnaldo I'll have to look at this next.

[2020-06-24 07:52] feds01 commented on #103
@jayair After upgrading to v1.8.0, the issue was fixed. Thank you.

[2020-06-24 12:50] luckyyang commented on #4
jest.config.js
[code]

jest.setup.js
[code]

.env
[code]

[2020-06-25 00:58] OmarKhattab commented on #98
AbortController is not a constructor

[2020-06-30 18:47] carlcheel commented on #33
Hey @jayair would you mind taking a look to see if this PR can be included?

For anyone that comes across this, as a workaround you can install `raw-loader` in your project and use the `import foo from !raw-loader.path-to-foo` webpack syntax. The problem with this approach is that the code is now using a webpack specific syntax, and you have to maintain the version of `raw-loader` but that might n

[2020-06-30 19:54] namelesswc opened #107 "How to add other babbel plugins?"
When using this package I have no configuration files like the .babelrc file.
How can I add other plugins to babel (babel-plugin-rewire)?

[2020-07-01 16:04] emre-haufe-canei commented on #58
I have just make a PR for supporting gql and graphql files

[2020-07-02 23:59] jayair commented on #104
Yeah you are right. We don't apply it for the tests. Would somebody like to help with this?

[2020-07-03 00:01] jayair commented on #103
Awesome. Thanks for testing it.

[2020-07-03 00:01] #103 closed

[2020-07-03 00:04] jayair commented on #98
Would it be possible to get a simple project setup to test with? I'm not familiar with this library.

[2020-07-03 00:12] jayair commented on #58
Just leaving this here and closing this thread to avoid future confusions.

https://github.com/AnomalyInnovations/serverless-bundle/pull/65#issuecomment-652524223

[2020-07-03 00:12] #58 closed

[2020-07-03 00:15] jayair commented on #33
Awesome. Thanks for taking this on. Looking at your PR now.

https://github.com/AnomalyInnovations/serverless-bundle/pull/106

[2020-07-03 00:33] jayair commented on #107
Yeah we don't have a way to do that. We have added ways to customize the some Webpack options but not Babel.

[2020-07-03 14:53] namelesswc commented on #107
Alright. Guess it's time to finally time for me to setup all the plugins myself instead of using the bundle.

[2020-07-03 14:53] #107 closed

[2020-07-05 01:23] jayair opened #109 "Need help with tests"
Hi all,

I need some help with improving our test suite. Currently our test suite runs a `serverless` CLI command and checks the output. But these are all run synchronously. This means that you've to wait for all the tests to complete before seeing a result. This is because we are running a `spawnSync`.

[code]

It would great if we can run each test and show its output as it completes. Does anybo

[2020-07-05 09:49] carlcheel commented on #109
I don't believe this is because of `spawnSync`. I think it's because all of the tests are in one `index.test.js` file.

Jest runs tests in a file serially and only report the results after all `it/test` blocks have ran.

This example produces the same behaviour:

[code]

If we provide a test file per feature, that would fix the issue. It would then make use of jest parallelization which will impro

[2020-07-05 21:54] carlcheel commented on #109
Hey @jayair managed to find some time to look at improving the test suite. Opened a PR.

[2020-07-07 09:30] KinnersleyM opened #111 "Missing eslint-plugin-jest"
Any time I have tried to use serverless-bundle and run `sls deploy -V`, I seem to get an error saying:

[code]

I can then get it working by installing eslint and eslint-plugin-jest afterwards. I uninstalled node, nvm and yarn from my computer but to no avail.

It isn't a huge problem as it can be fixed but it is annoying as I want to use serverless-bundle with no other addons and zero-config.

If

[2020-07-12 00:54] jayair commented on #33
Added here: https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v1.9.0

Closing.

[2020-07-12 00:54] #33 closed

[2020-07-12 01:28] jayair commented on #111
That's really weird. Your setup is almost exactly like this:

https://github.com/AnomalyInnovations/serverless-nodejs-starter

Can you try forking that repo and seeing if you get the same error? Because we use that exact one in the tutorial and it works fine.

[2020-07-13 23:39] jayair commented on #109
Thank you for helping fix it!

[2020-07-13 23:39] #109 closed

[2020-07-14 00:22] jayair commented on #61
Just added support for specifying custom tsconfig path.

[code]

Upgrade with:

[code]

@janjanarnaldo This should fix your issue.

I think we are ready to push TS support to master and release it publicly. Does anybody want to give the new beta a test and give it a thumbs up?

[2020-07-15 11:37] jliebrand commented on #97
Sorry - I think I missed the notification of your comment. Yes, I'd say a default exclusion of "*.spec.js" and "*.test.js" would go a long way

[2020-07-18 12:25] VED-StuartMorris opened #114 "DEBUG error while getting callsite source context: ENOENT: no such file or directory"
Wondering if someone could point me in the right direction on this. I have a fairly simple testing function setup using serverless-bundle in which I am receiving a bunch of messages in cloudwatch when it is run.

![Screenshot 2020-07-18 at 13 21 33](https://user-images.githubusercontent.com/43371207/87852430-d4c03680-c8f9-11ea-9157-82a638ed4430.png)

Example
[code]

It seems to be referring to the

[2020-07-18 15:51] VED-StuartMorris commented on #114
This seems to come up when I have the following serverless configuration

[code]

-- and using the default bundle / sourcemaps true.

[2020-07-18 17:30] chanthafef commented on #104
Hi. I can give it a try.

We need to use what jest calls [moduleNameMapper](https://jestjs.io/docs/en/configuration#modulenamemapper-objectstring-string--arraystring).

# option 1
- In ``scripts/config/paths`` we add a path to a ``appServerlessYamlFile: resolveApp('serverless.yml')``.
- in ``createJestConfig.js`` we use something like [js-yaml](https://www.npmjs.com/package/js-yaml) to get the ali

[2020-07-18 17:53] chanthafef commented on #104
PR for option 2:
https://github.com/AnomalyInnovations/serverless-bundle/pull/115

[2020-07-19 17:30] jayair commented on #114
Hmmm can you create a test repo with the issue? It looks like some files aren't getting included correctly?

[2020-07-19 18:19] jayair commented on #104
Thanks for the PR. Published a new release: https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v1.9.1.

Update using:

[code]

[2020-07-19 18:19] #104 closed

[2020-07-20 09:55] VED-StuartMorris opened #117 "Question: Expected configuration for use with Lambda Layers"
Hello,

Just a question on configuration, we use Lambda Layers for some of our dependencies.

What is the expected configuration for using layers?

- Should we be installing the dependencies at the service level, as well as the layer level?
-- I.e.  the node_module is installed in the ```layers/commonLib/``` path as well as the root level of the service

- Then should it just be excluded with ```f

[2020-07-20 17:28] jayair commented on #117
Hmm we don't really have anything specific for layers other than the `forceExclude` option. I guess it depends on what you are putting in your layers.

[2020-07-20 17:30] VED-StuartMorris commented on #117
@jayair Thanks for coming back, we tend to put shared resources in layers. Whether that is custom npm modules or re-used npm modules across different layers.

[2020-07-20 17:54] chanthafef opened #118 "run eslint without ``sls package`` or ``sls deploy``"
I was wondering about how you include eslint in your worklow.

Do you only make it run on ``sls deploy`` or do you run ``sls package`` before every commit ?

On my local machine, I would like to have the option to :
- run the linter with [husky](https://github.com/typicode/husky) (using githooks) on pre-commit (which works perfectly fine with ``sls package`` - even tho it's slow)
- use the [``--fi

[2020-07-20 22:22] jayair commented on #118
Hmm right now it runs even when you invoke locally. Does that not work for you?

[2020-07-20 23:36] elhe26 commented on #52
I'm getting the same error.

This is the log:

{
    "errorType": "TypeError",
    "errorMessage": "Cannot set property 'handler' of undefined",
    "stack": [
        "TypeError: Cannot set property 'handler' of undefined",
        "    at Module.<anonymous> (/var/task/src/handlers/webpack:/D:/prj/auction-service-nodejs/src/handlers/createAuction.js:48:1)",
        "    at Module.<anonymous> (/va

[2020-07-21 00:02] jayair commented on #61
It's alive! Thank you all for making this happen.

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v2.0.0

Update using:

[code]

[2020-07-21 00:02] #61 closed

[2020-07-21 00:49] janjanarnaldo commented on #61
**exciiiitteeeeed**

[2020-07-21 01:18] chanthafef commented on #118
Linter works as expected with ``sls invoke local``. (Sorry about that. I rarely use this command)

``eslint --fix`` doesn't seem to be an option either way.

[2020-07-21 10:16] oakgary commented on #73
is there a reason why the list of supportkeys is not equivalent to jests [configuration options](https://jestjs.io/docs/en/configuration)?

it would also be nice if one could define the environment variables loaded by jest
the script currently loads the .env file https://github.com/AnomalyInnovations/serverless-bundle/blob/master/scripts/config/createJestConfig.js#L100
which is also the default fo

[2020-07-23 17:18] bjesus opened #122 "Source maps make build fail when including source from outside the directory"
Hi! I'm trying out severless-bundle and it seems to do wonders! Thank you.

My Lambda includes a function from outside the Lambda folder, like so:
`const myForeignFunction = require("../library/index");`

As long as I set `sourcemaps: false`, it all works like a charm. I can deploy the Lambda, and Webpack makes the foreign function available. But, if I want my sourcemaps enabled (which I do...), `

[2020-07-30 12:37] carlcheel-sage commented on #77
This issue can be resolved by adding `pdfkit` to the serverless-bundle externals config.

**Example**

[code]

**Note:** Sometimes 3rd party modules aren't compatible with webpack for various reasons.

Based on this, I believe this issue can be closed @jayair.

[2020-08-01 18:55] RobertGardner commented on #97
and "_.spec.ts_" and "_.test.ts_"

[2020-08-04 09:53] oakgary opened #124 "imports not working in typescript project"
/file_a.ts
[code]

/file_b.ts
[code]

Executing the handler of file_b (using sls offline or deploying to aws) leads to something like:
[code]
Both eslint and typescript are not showing any errors. The code is compiling fine.
I assume it has something to do with webpack or babel.

That is the issue I am facing right now in a nutshell.
I will try to create a small repo to reproduce this error.

[2020-08-04 10:21] oakgary commented on #124
you can find the repo here: https://github.com/oakgary/serverless-bundle-import-issue

steps to reproduce:
1. run the start script of services/my_service.package.json
2. run the local.js file

[2020-08-06 05:35] jponc commented on #124
I'm having the exact same issue..

[2020-08-06 05:39] jponc commented on #124
Hey mate @oakgary , try using `sourcemaps: false` seems to work for me

[2020-08-06 09:14] oakgary commented on #124
@jponc Thanks for the reply. Will give it another try once someone looked deeper into this. I had to switch back my typescript-services to serverless-webpack for now, as I needed a stable version for production.

[2020-08-12 12:18] MarZab opened #127 "ForkTsCheckerWebpackPlugin Configuration"
Currently, `ForkTsCheckerWebpackPlugin` is enabled when TypeScript is enabled.

While building, the service is run for each build, breaking the build when enough endpoints are defined:

[code]

I would suggest a configuration option to not run ForkTsCheckerWebpackPlugin on build or to somehow run it before building.

[2020-08-16 23:50] jayair commented on #117
Yeah maybe we need to add some documentation for layers then. If you have some suggestions, consider opening a PR!

[2020-08-16 23:51] jayair commented on #52
Can you share what your serverless.yml and handler file looks like?

[2020-08-16 23:52] jayair commented on #118
Yeah that's a good point. Maybe we should make `--fix` the default option and run it every time?

[2020-08-16 23:57] jayair commented on #73
We started by supporting the configuration options from Create React App and added the ones folks requested.

Yeah by default we load the .env file. Whats the issue you are running into with loading prod envs for your tests?

[2020-08-17 00:05] jayair commented on #122
Hmm that's interesting. If you don't include that foreign function it works?

When source maps are enabled, it will add that register function call. That package is included through serverless-bundle, so it's assuming that it can find it in the node modules. You might have to install it yourself in that foreign function?

[2020-08-17 00:09] jayair commented on #77
@carlcheel-sage Awesome. Thanks for looking into it.

[2020-08-17 00:09] #77 closed

[2020-08-17 00:12] jayair commented on #97
Sounds good. If somebody wants to add this option with these defaults and open a PR that would be great!

[2020-08-17 00:17] jayair commented on #124
@oakgary Thanks for putting together the repo. I'll have a look.

[2020-08-17 00:27] jayair commented on #127
Oh that's interesting. Does this error out the build?

[2020-08-17 01:27] jayair commented on #124
I figured out the problem with the repo. It has to do with the location of the tsconfig.json. It's placed outside the root of the service. If it is moved to `services/my_service/tsconfig.json`, it works fine.

You can see it here https://github.com/oakgary/serverless-bundle-import-issue/pull/1/files

@jponc Are you doing something similar too?

[2020-08-17 06:11] jponc commented on #124
Yes, in my case it's placed outside the root of the service.

![image](https://user-images.githubusercontent.com/4714727/90362608-5a273a00-e0a4-11ea-8aa2-b3572f07c2fe.png)

[2020-08-17 07:39] MarZab commented on #127
Yes, but not before freezing up my computer :D

[2020-08-17 08:38] oakgary commented on #73
The problem is, that the dotenv-plugin will use the .env file as default as well.
So if I use the .env file for my production environment and now add tests, the tests will load the same variables, which can have unintended side effects.
It would be nice if I could put the environment variables for tests in a separate file.

[2020-08-17 09:34] oakgary commented on #124
just gave it another shot
putting the tsconfig on service lvl did not fix the problem for me
neither did setting sourceMap to false in the tsconfig.json which i tried because i misread jponc's comment

setting sourcemaps: false (custom:bundle:sourcemaps:false) in the serverless.yml of the affected service did fix the problem for me

[2020-08-19 07:10] arpadrozsa commented on #62
@jayair Currently serialize-javascript has a high vulnerability in serverless-bundle > copy-webpack-plugin > serialize-javascript.
Can you update the copy-webpack-plugin to eliminate the vulnerabilty?

[2020-08-20 19:46] bjesus commented on #122
I'm unfortunately not working on that project anymore, so can't really test it this at the moment. Yes, if I don't include the foreign function it all worked again. Can't tell about installing source-map-support in the foreign function directory - didn't try that then... Hopefully I'll get back to working on that and then I'll report back again.

[2020-08-24 11:08] ashutoshkmr commented on #127
I am also facing the same issue

[2020-08-25 01:18] jponc commented on #124
@jayair Did you manage to figure it out? I can also take a look, but yeah I think it's pretty common to have a shared tsconfig.json especially when dealing with monorepo setup

[2020-08-27 07:46] himanshupnt opened #130 "High security vulnerability found in "serialize-javascript" package"
**Describe the issue**
serverless-bundle has a dependency package - "serialize-javascript" with high security vulnerability.
<img width="588" alt="Screen Shot 2020-08-27 at 12 34 09 AM" src="https://user-images.githubusercontent.com/8342344/91411971-f2889180-e7fd-11ea-97ad-6f6ecd0ff7f0.png">

**To reproduce**
Install serverless-bundle - `npm i serverless-bundle` or if already installed, `npm audit

[2020-08-28 13:35] VED-StuartMorris opened #132 "Linting not running"
Wondering if anyone can point me in the right direction here.

I have the latest version of serverless-bundle installed, we have the linting flag set to true:
[code]

However, linting is not running when running ```sls deploy``` or ```sls package```.

There are forced errors in place, we can check by running ```npm run lint``` which runs a lint task with eslint.

Any reason why the linting would n

[2020-09-01 12:01] renanwilliam opened #134 "Middy Validator Integration - necessary force include ajv-i18n package"
Hi,

The package https://github.com/middyjs/middy/tree/master/packages/validator has made a recent release that broke projects running with serverless-bundle package. The validator package has some libraries in their dependencies but for some reason ins't resolving. It's throwing the error `Error: Cannot find module 'ajv-keywords`.

It's necessary add the forceInclue the ajv-keywords package
[code

[2020-09-06 16:53] jayair commented on #73
@oakgary That makes sense. I'd like to do some quick research on how similar projects deal with this issue. Do you mind helping with that? I'd like to check projects like Create React App or maybe Next.js for how they handle this.

[2020-09-06 19:54] jayair commented on #62
Got it. Here's the update:

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v3.0.1

[2020-09-07 18:30] jayair commented on #122
Sounds good!

[2020-09-07 18:32] jayair commented on #127
@MarZab @ashutoshkmr Can you create a simple repo that I can test with?

[2020-09-07 20:23] jayair commented on #124
Getting back to this. @oakgary Did my PR not work for you? Because it worked for me.

If it is because of the location of the `tsconfig.json`, we need to figure out how to fix it.

[2020-09-07 20:25] jayair commented on #130
Oh I didn't notice this and your PR. I rolled out a fix.

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v3.0.1

Thanks!

[2020-09-07 20:37] jayair commented on #132
I tried it with the latest version with this:

[code]

And I see this:

[code]

Not sure what's causing this in your setup.

[2020-09-07 20:43] jayair commented on #134
That's weird. Thanks for letting us know!

[2020-09-08 06:11] MarZab commented on #127
The issue shows up with `package.individually = true`.

With trivial examples it takes a few more endpoints than with larger codebase for the it to come up.

https://github.com/MarZab/serverless-bundle-typescript-timeout

[code]

[2020-09-08 09:11] oakgary commented on #124
no, if i remember correctly it did not solve the problem for me

but i am not sure anymore if i used exactly your tsconfig.json or if i adjusted my own

nevertheless i have been using serverless-bundle for the last 2-3 weeks with typescript in production now using the hotfix @jponc provided which is setting the sourcemaps value to false
i am sure thats a good entry point to investigate the problem

[2020-09-08 15:48] renanwilliam commented on #134
Ok! I will close this issue because the middy package already have a new release with a fix for my problem.

[2020-09-08 15:48] #134 closed

[2020-09-08 15:55] lepirlouit opened #136 "How to import images"
How is importing images supposed working ?

```import "./assets/react.png";``` what is this supposed to do ?

I use the file-loader before
and imported the image path with ```import MyImagePath from './assets/my_image.png';```

doing the same will just assign an empty object to MyImagePath

[2020-09-08 20:11] zlanich commented on #44
The docs clearly say there's typescript support now if you put a tsconfig in the root, but there's no documentation about how to actually get it working. I have no idea what my tsconfig is supposed to look like to make things compile in a compatible way. Anyone have a clue?

[2020-09-08 23:24] zlanich opened #137 "`yarn test` issues with Nested Services Docs"
Hey there! I'm using Yarn Workspaces, and I'm having issues only with using the docs example to run services tests from a parent dir above the individual service dirs, just like example explained in the "Nested Services" section in the docs. Here's a rundown of what I have:
[code]
I can run commands from within the `example-service` dir just fine (specifically the `yarn test` one, but running `yar

[2020-09-09 18:15] jayair commented on #124
Yeah I'm digging into this issue now. It seems related to the babel loader that we are running `.ts` files through.

[2020-09-09 20:41] jayair commented on #127
Thanks for the repo.

I looked into it. It seems like serverless-webpack has been trying to resolve this issue (https://github.com/serverless-heaven/serverless-webpack/issues/299#issuecomment-496190541) and they have a proposed fix (https://github.com/serverless-heaven/serverless-webpack/pull/517) in their upcoming `5.4.0` release.

It serializes the compile process. I still see the Node warning a

[2020-09-10 08:02] MarZab commented on #127
I tried on my project, and it did complete while also showing the memory leak.

But it took a lot longer so I did some testing. added an option to disable forktschecker [here](https://github.com/MarZab/serverless-bundle/tree/issue-127-forktschecker).

Config | Build Time | System Load
-------|------------|--------------
tsForkTsChecker: false serializedCompile: false | 69.41s |  10
tsForkTsChecker

[2020-09-10 16:55] willfarrell opened #139 "NODE_ENV being replace by wrong value"
When `NODE_ENV` environment variable is set to `development` in the serverless config, the bundled lambda export replaces `process.env.NODE_ENV` with `production`. This is unexpected, I would expect it to be set to `development`. I wasn't able to find anything in the docs coving this. Is there a way to force it to use the value in the serverless config or disable `process.env` replacement?

severl

[2020-09-10 16:56] jayair commented on #127
Yeah the `serializedCompile` will take longer. This option isn't directly related to forktschecker but it's a problem that a lot of people that use the `package.individually` option have. From having a look at the serverless-webpack 5.4.0 release roadmap, it seems like an issue they are trying to tackle. I'm leaning towards waiting for them to take a crack at it.

Maybe for the time being hang on

[2020-09-11 20:53] zlanich commented on #70
I've also been trying tirelessly to get this working. Here are my finds so far:

Running `serverless-bundle test --some-arg=foo` does in fact pass the arg to jest. I tested this both by logging the `argv` in the serverless-bundle scripts that get passed to jest, as well as by trying to pass an unsupported arg to jest, upon which it threw an error:
[code]
I'm not sure however, how you would pass sp

[2020-09-16 11:48] slaplace opened #140 "transpile typescript with inversify"
Hello
I wish to migrate to serverless-bundle to avoid managing webpack and so on, unfortunatly it seems that the code deployed is not correct when inversify is used.
To demonstrate it, I made a very simple project  with 1 lambda that call a class function of a container when it's invoked.
unzip, npm install then npm run start
TypeError: Cannot read property 'Foo' of undefined
[bundle.zip](https://

[2020-09-17 17:23] ggrantrowberry commented on #124
I had the same issue but setting sourcemaps:false as @jponc suggested fixed it for me.

[2020-09-18 11:52] jondot commented on #124
same issue, `sourcemaps: false` fixes it

[2020-09-25 00:55] rodrigoreis22 commented on #44
Same here, any examples with Typescript, I'm getting this same error.

[2020-09-25 23:33] FranzSw commented on #44
Hey,
I got it working. Make sure the tsconfig is in the folder you are starting serverless from. If not, add the 'custom:bundle:tsConfig' attribute with the path to the config.
My tsconfig looks pretty boring:
[code]

Hope this helps you.

[2020-09-28 22:46] justindra opened #141 "Unable to run `package` or `deploy` using Typescript"
I am unable to use the TypeScript configuration. It seems to keep failing when bundling. As an example I copied the test-case in 'tests/typescript` and adjusted it to have TS-only terms, e.g. classes.

The output is as follows:
[code]

I've created a sample repo here:
https://github.com/justindra/serverless-bundle-typescript-issue

To get the error:
* `sls package` or `sls deploy`

[2020-09-29 02:02] justindra commented on #141
I've been messing around with the plugin locally and what seems to fix it is removing the `ForkTsCheckerWebpackPlugin`. So I guess the issue could be with that somewhere?

[2020-10-02 01:32] joaodfmota commented on #24
In `.eslintrc.json`
`{
  "extends": [
      "./node_modules/serverless-bundle/src/ts.eslintrc.json"
  ]
}`

[2020-10-02 15:56] darkship opened #143 "Yarn 2 support"
I tried to use serveless-bundle with yarn 2. Unfortunally I get the following error :
[code]

Yarn 2 needs all the dependencies to be listed in your package.json and it appears that `resolve` isn't.
`resolve` is used in https://github.com/AnomalyInnovations/serverless-bundle/blob/c955b72b3216d4fa2e64a9a4b86bd4dbe1fd9473/scripts/test.js#L39

[2020-10-03 07:22] grevolution commented on #124
spent whole day figuring out why its not working and stumbled upon this. `sourcemaps: false` fixed it for me too. Is this going to be fixed properly?

[2020-10-05 03:12] jayair commented on #124
I've been spending some time on this one. I think I've got a sense for what is going on. Are you all using

[code]

in your `tsconfig.json`? Can you try removing it or using `ES6`?

@grevolution @jondot @ggrantrowberry @oakgary @jponc

[2020-10-05 12:53] andrey-k commented on #124
@jayair I have the same problem.  `sourcemaps: false` fixed the issue but I would like to have source map enabled. We use `"module": "commonjs"` and removing it or using `ES6` didn't help

[2020-10-05 18:03] jayair commented on #124
@andrey-k Can you also set this in your `serverless.yml` and try again?

[code]

[2020-10-06 05:59] andrey-k commented on #124
@jayair `caching: false` didn't solve the issue. with `sourcemaps: true` it still fails to import local files. I use

[code]

Do you need any additional information?

[2020-10-06 17:21] jayair commented on #124
@andrey-k I might need a sample repo from you.

I tried @oakgary's repo (https://github.com/oakgary/serverless-bundle-import-issue) with the following steps and it worked.

[code]

<img width="568" alt="Screen Shot 2020-10-06 at 1 15 41 PM" src="https://user-images.githubusercontent.com/53023/95237887-c1c15200-07d6-11eb-9788-9636e07d9be9.png">

[2020-10-06 21:19] lionheart2013 opened #144 "Serverless plugin "serverless-bundle" not found. CICD Deployment."
I have a multiple serverless.yml from different directories. I want to reference serverless-bundle on one of my serverless.yml. The serverless-bundle was installed on project root. But failed I tried the following - ../../node_modules/serverless-bundle and just - serverless-bundle but got the same error, "Serverless plugin "serverless-bundle" not found". Please let me know.
NOTE: I am deploying us

[2020-10-07 20:40] rodrigogs commented on #42
I have the same problem and I don't want to create a lambda layer just to have a single dependency working :/

[2020-10-08 06:23] andrey-k commented on #124
@jayair actually a combination of `caching: false` and removal of `"module": "commonjs"` from tsconfig.json worked. Also, it works if I set `"module": "es6"` with `caching: false`

[2020-10-08 13:15] jayair commented on #124
Yeah the issue is that with `commonjs` set, the exports conflict with the export set by the [babel-plugin-source-map-support](https://www.npmjs.com/package/babel-plugin-source-map-support) plugin. You shouldn't have to set it to `commonjs` in your `tsconfig.json` with serverless-bundle because we transpile it through Babel and ensure that the exports are set correctly.

If some of the other folks

[2020-10-08 14:19] jayair commented on #124
@andrey-k Btw, you can remove the `caching` flag. That was just to ensure that while you were changing these options, you weren't still using the cached build.

[2020-10-08 17:23] jayair commented on #124
I should also mention this for anybody testing the `commonjs` option, the best way to ensure that the results are not cached is not remove your `node_modules` directory and try again.

[2020-10-08 22:11] jponc commented on #124
Yeah I might give this a try tonight. Btw if some of you guys are wondering why it's failing, the default tsconfig `module` is set to `commonjs` when you specify `target: es3 (default) or es5`. So maybe change that to `es6` so it picks `module: es6`

![image](https://user-images.githubusercontent.com/4714727/95518681-4dbdbe80-0a0f-11eb-9adb-39fb082a4e7f.png)

[2020-10-09 01:34] jayair opened #145 "Option to mark all node_modules as externals"
Referring to this issue (https://github.com/AnomalyInnovations/serverless-nodejs-starter/issues/61) created by @OBrown92.

There are some cases (like when using `ejs`) when you need to explicitly exclude pretty much all packages.

[2020-10-09 19:07] jayair commented on #145
@OBrown92 I added an `all` option to the `externals`. This automatically ignores all the packages in your node_mdoules. So you won't have to list each one. I tried it with your sample repo and it worked — https://github.com/OBrown92/serverless-email-templates.

Here's how you can test it.

Install the test version.

[code]

And set this in your `serverless.yml`.

[code]

Give it a try and let me k

[2020-10-09 20:29] jayair commented on #136
Right now we aren't doing anything specific for images. Feel free to open a PR!

[2020-10-09 20:50] jayair commented on #137
Just having a look at your setup. Since you have bundle installed in the `example-service/package.json`, you can just have `"test": "serverless-bundle test"`. That's the basic setup for a Serverless service using bundle. The nested  services example that we have is only installing bundle at the root.

[2020-10-09 20:56] jayair commented on #139
Bundle doesn't touch the `NODE_ENV`. I tested it in our base setup and didn't see what you are saying. Can you create a git repo to reproduce this?

[2020-10-09 21:20] jayair commented on #140
I tried the project you uploaded and tried this. It seems to work?

<img width="566" alt="Screen Shot 2020-10-09 at 5 20 00 PM" src="https://user-images.githubusercontent.com/53023/95632504-c21a5100-0a53-11eb-8964-7dc07debeaf4.png">

[2020-10-11 18:41] StErMi opened #146 "Force include typescript file not referenced in code"
Hi,

I'm trying to add the integration to mikro-orm and the configuration file for this framework is inside a typescript file. Usually, this file is automatically loaded by mikro-orm when I init it. The problem is that this file is not included in the build because of tree-shaking. Is there a way to specify it into the serverless-bundle custom config?

[2020-10-11 18:43] StErMi opened #147 "Add mikro-orm to the README documentation (like Sequelize)"
Would be possible to have an official documentation in the readme (like for Sequelize) for the [Mikro-ORM](https://mikro-orm.io/) framework?

[2020-10-12 13:05] lepirlouit commented on #136
What does it mean in the READMe it's mentionned :

https://github.com/AnomalyInnovations/serverless-bundle#css-sass-and-image-files
What happen when you import an image, like in the example : `import "./assets/react.png";`

[2020-10-13 19:40] jadczakd commented on #145
Wouldn't it be good to add it to the forceExclude as well? For projects where you're using common layers for all the modules?
Ideally I would like the bundler to take in just the internal package modules, and nothing from the global modules path.

[2020-10-14 00:01] jayair opened #148 "Fails to find package.json if the cwd has been changed"
Certain plugins like `serverless-plugin-typescript` change the cwd. Causing this to fail:

[code]

Instead use this:

[code]

[2020-10-14 00:21] #148 closed

[2020-10-15 01:30] jayair commented on #145
That's interesting. Do you have cases where all your packages are supplied by Lambda layers?

[2020-10-15 01:47] #145 closed

[2020-10-15 01:51] jayair commented on #145
Merged and released this: https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v3.2.0

[2020-10-15 04:43] jadczakd commented on #145
Yeah, when I build something with a common codebase I do that. Not only for npm packages but also with some inner libraries - wg when I bundle anything containing Dialogflow , the bundle size grows to ~3 Mb per function. With aws-sdk its not so bad as it goes to roughly 50 KB , but to think of it when You have something really simple and write it through the console the lambda is actually just a c

[2020-10-15 08:00] StErMi opened #151 "esponse_lib_1.fail is not a function when I use option sourcemaps equal true"
Hi all,

the project is pretty simple as you can see
![image](https://user-images.githubusercontent.com/146166/96093777-dd121880-0ecc-11eb-93ce-45bbe207452c.png)

if I set `sourcemaps` to `false` everything seems to work. If I set them to `true` I get this error when I open the URL created with `sls offline`

[code]

how can I fix it?

[2020-10-19 11:39] andrey-k commented on #73
@patrykkrawczyk what kind of workaround did you find? I also would like to use https://jestjs.io/docs/en/dynamodb

[2020-10-19 14:42] DnSu opened #152 "compiling code with react"
when I included react syntax, I get

Support for the experimental syntax 'jsx' isn't currently enabled

is there a work around for this, I'm trying to write a sitemap generator in lambda via the react-router-sitemap package

[2020-10-19 22:22] jayair commented on #44
@zlanich @rodrigoreis22 We created a TS starter for this — https://github.com/AnomalyInnovations/serverless-typescript-starter

[2020-10-19 22:23] jayair commented on #141
We have a starter that you can use as an example — https://github.com/AnomalyInnovations/serverless-typescript-starter

[2020-10-19 22:34] jayair commented on #143
Hmm so if we include `resolve` in the dependencies it would fix this? It looks like we should be adding it anyway.

Can you add it to the dependencies and submit a PR?

[2020-10-19 22:35] jayair commented on #144
We support this setup — https://github.com/AnomalyInnovations/serverless-bundle#nested-services

Is that what you are doing?

[2020-10-19 22:37] jayair commented on #42
We have a specific fix for Formidable — https://github.com/AnomalyInnovations/serverless-bundle#package-specific-config

[2020-10-19 22:38] jayair commented on #146
You could use the `copyFiles` option to ensure that it's included in the package.

[2020-10-19 22:39] jayair commented on #147
Yeah if somebody that's using this package can contribute a PR, we'll definitely add it.

[2020-10-20 00:08] jayair commented on #136
The docs on this are wrong. Currently for images, the imports are ignored.

https://github.com/AnomalyInnovations/serverless-bundle/blob/master/src/webpack.config.js#L175

You could use the `copyFiles` option. But I think we should add support for this. PRs are welcome.

[2020-10-20 00:14] jayair commented on #145
On the flip side, if everything is excluded, then whats the point of using Webpack?

[2020-10-20 00:15] jayair commented on #151
It's being talked about here — https://github.com/AnomalyInnovations/serverless-bundle/issues/124

Closing this.

[2020-10-20 00:15] #151 closed

[2020-10-20 00:16] jayair commented on #124
If folks can confirm that the above solves their issue, we can either document this or add a check while building.

[2020-10-20 00:17] jayair commented on #152
I don't think we are doing handling JSX currently. We'll need to add a loader for it. Feel free to open a PR.

[2020-10-20 05:12] jadczakd commented on #145
Just an easy way to do stage 0 and newer syntax admittedly, it's not always that I do it , I am happy with excluding the way I can do it now. This would just be a handy helper.

[2020-10-20 14:54] lionheart2013 commented on #144
@jayair, yes thats exactly what I am trying to do, problem is, its not working I am getting the error "serverless-bundle" not found. To make this work I used npm preinstall script to navigate back and then install "serverless-bundle", not sure if this is the right approach. But just relying on this package alone and expect everything will work, clearly its not. Let me know if I missed something he

[2020-10-21 09:56] thomaschaaf opened #153 "Use esbuild instead of webpack"
I came across: https://github.com/floydspace/serverless-esbuild do you think it would make sense to use this instead of webpack?

[2020-10-21 21:09] davidboom95 commented on #141
The starter has the same problem too.

[2020-10-21 23:15] justindra commented on #141
Yep, agree with @davidboom95 starter also has the same issue.

[2020-10-22 12:10] stewarthull7 opened #154 "copyFiles causing error: ERROR in unable to locate..."
I have been using serverless-bundle for a while now without any issues. Suddenly, when removing my node_modules folder and running ```npm install```, I am now getting an error. Please see my output below when running serverless offline. I get the same error when running ```serverless deploy```.

[code]

Here is my package.json:

[code]

Here is my serverless.yml:

[code]

I have tried downgrading

[2020-10-23 09:13] stewarthull7 commented on #154
I've made some progress with this. Everything works fine when the plugin is installed explicitly with ```npm install serverless-bundle```, but when running ```npm install``` with the plugin already listed in package.json, the issue arises.

[2020-10-25 14:12] francisu commented on #143
I'm using version 3.2.1 of the serverless-bundle plugin (you release a lot of versions quickly, I love that) and the "resolve" issue is not there, but there is an issue with the "import-fresh" dependency. It should be moved from devDependencies to dependencies. One that's done, it works fine with yarn 2. If you want I will do a PR.

[2020-10-25 14:43] francisu opened #156 "Missing shebang-loader for js files"
I will make a PR if you want.

[code]

[2020-10-25 17:42] darkship commented on #143
@francisu I wasn't at the point where I could deploy a function yet. It happened when I run `yarn test`

[2020-10-26 14:58] Namstel commented on #124
I can confirm that removing `"module": "commonjs",` from `tsconfig.json` fixed the issue. Thanks @jayair .

[2020-10-26 16:55] zlanich commented on #44
@jayair Thanks for the response. I do believe I looked at this when I was setting things up. I personally needed webpack, etc, so I went with a different starter lib, and looking at your configuration helped me with my issue, if I remember correctly. I can't recall what I changed off hand.

[2020-11-01 13:31] turakvlad commented on #139
Hey, I have the same issue. My `process.env.NODE_ENV` is changed to `production` at compile time. I think it is related to https://github.com/webpack/webpack/issues/7470. So, even though I have another value as my `NODE_ENV` in my Lambda function's environment variable, it won't help me much, because the compiled code stores a string `production` and not a reference to `process.env.NODE_ENV`.

We

[2020-11-05 12:49] joaodfmota commented on #141
I don't know why, but using yarn here it works 🤔

[code]
Error:
```npm start```
Work:
```yarn start```

[2020-11-10 22:06] Luke-Rhodes-RDSLE4 commented on #124
For me the removal of "commonjs" wasn't an option.

It seems to be common to set the `libraryTarget` webpack config to "umd" to resolve this issue when not using serverless-bundle.

`this.webpackConfig.output.libraryTarget = 'umd'` on line 158 of validate.js does the trick.

[2020-11-11 08:26] henhal opened #160 "Co-existance with mocha"
I found that using TypeScript and Mocha with `serverless-bundle` breaks; adding `@types/mocha` causes conflicts with `serverless-bundle` to the the latter includes `jest`, and `mocha` and `jest` apparently cannot co-exist. Snippet from TS errors:

[code]

Googling this reveals that mocha and jest declare the same types in conflicting ways, and I guess, simply cannot co-exist.

Now, I am considerin

[2020-11-11 12:42] henhal opened #161 "How to forceExclude git+ssh style dependency"
I have a private NPM module sourced through a git+ssh URL, such as

[code]

I already have a Lambda Layer for this dependency, so I'd like to exclude it from webpacking. However, I cannot get exclusions to work for these kinds of dependencies?

I tried:

[code]
None of these make any difference - the module is bundled anyway. Excluding other normal NPM dependencies work just fine so there's nothin

[2020-11-12 11:23] henhal opened #162 "EnvironmentPlugin"
Is it possible to use the webpack `EnvironmentPlugin` with `serverless-bundle` to make optimized production builds eliminating dead code using `NODE_ENV` etc?

[2020-11-13 19:35] jayair commented on #144
Can you share a sample repo? Because the setup listed in the README works as-is.

[2020-11-13 19:41] jayair commented on #153
I haven't played around with esbuild but it does look really promising! It's not trivial to port bundle over to use that plugin however.

But I'd like to keep an eye on this, slow builds are a huge pain point.

[2020-11-13 19:43] jayair commented on #154
Can you try removing your package lock file and try it an install from scratch?

[2020-11-13 19:52] jayair commented on #156
Oh that's interesting. So how are you including this script in your code? Is it just a part of this package you are using?

[2020-11-13 19:56] jayair commented on #143
@francisu Yup that looks like a mistake on our side. Please open a PR (if you haven't already, I haven't checked all my notifications yet).

[2020-11-13 20:09] francisu commented on #156
It's an ancient version of mqtt.js. I actually worked around it by simply upgrading it to something more current. I have not encountered any other files like this, so closing this might be fine.

[2020-11-13 21:31] jayair commented on #139
@turakvlad Can you create a sample repo with this? From what I remember, I tried this and couldn't get it to reproduce. I must've been setting it up differently.

[2020-11-13 21:50] jayair commented on #141
What's the issue with starter and how do I replicate it?

[2020-11-13 21:51] jayair commented on #124
@Luke-Rhodes-RDSLE4 How come removing `commonjs` isn't an option for your case?

[2020-11-13 21:55] jayair commented on #160
The issue is that we want to make sure that the tests are also transpiled using the same config as the source. By handling them together, they work without having to setup babel or TS for your tests as well.

[2020-11-13 21:57] jayair commented on #161
Hmm I'm not sure about this one. You might have to ask the https://github.com/serverless-heaven/serverless-webpack folks about this. And please report back if you figure out how? So we can document it.

[2020-11-13 21:59] jayair commented on #162
I haven't tried this. But if anybody wants to try it out and open a PR, they are welcome!

[2020-11-13 21:59] jayair commented on #156
Sounds good!

[2020-11-13 21:59] #156 closed

[2020-11-13 22:15] jayair commented on #143
Nvm, I'm working on it now. I'll put the `import-fresh` change in. I'll put out a new release shortly. Then you can test it with Yarn 2 and let me know.

[2020-11-14 00:57] jayair commented on #124
Pushed a new release that shows a warning if `commonjs` is detected. Also added a note to the README.

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v4.0.0

https://github.com/AnomalyInnovations/serverless-bundle#module-and-targets

[2020-11-14 04:42] jayair commented on #124
Just pushed a patch to handle non standard JSON tsconfigs.

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v4.0.1

[2020-11-15 23:38] lionheart2013 commented on #144
Sharing you my sample repo https://github.com/lionheart2013/nested-services, also please note that setup listed on README works only on local machine, but failed on Serverless Framework CICD. As I said on my previous comment to make this works I added an npm preinstall script on nested service(service1) eg. "preinstall":"cd ../ && npm i serverless-bundle".

<img width="936" alt="Screen Shot 2020-1

[2020-11-16 08:28] kristianjabilles-ms opened #164 "Error on CI/CD deployment: Error: npm ls -prod -json -depth=1 failed with code 7"
Hi All, I am having some issues when the app is deployed with CI/CD, although `sls deploy` works fine locally.

Here is the log:

[code]

[code]

serverless-bundle: `4.0.1`

Did anyone encounter this issue before?

[2020-11-16 09:07] MRaahulVignesh opened #165 "How do we provide jest config file to serverless bundle?"
Hello All,
We are using **Lerna Yarn workspaces** for our project and having a root jest.config.base.js file which extends its properties to the jest.config.js in workspaces. The following is our directory structure for reference.

[code]

We want to include some configurations while running our jest test cases. Therefore, we are looking to provide the jest configurations to serverless-bundle via

[2020-11-16 12:34] ba-amit commented on #165
Facing the same problem, can anyone help to figure out a way for the same?

[2020-11-17 11:57] #164 closed

[2020-11-20 10:25] Namstel commented on #127
We're also running into this issue, but so far the only issue we have is that it slows down deployment by a lot.

Deployment with tsForkTsChecker turned off is 19 seconds and deployment with it turned on is 49 seconds.

I'm looking forward to seeing @MarZab 's solution in serverless-bundle.

[2020-11-22 21:19] jayair commented on #144
Ah this is more an issue with their service. They aren't doing a root npm install. We support this natively on [Seed](www.seed.run).

[2020-11-22 21:21] jayair commented on #165
AFAIK, we don't do anything specific to support a jest config. Were you doing this without Yarn workspaces?

[2020-11-22 21:23] jayair commented on #127
@Namstel So it's faster with ForkTsChecker turned off?

[2020-11-23 04:29] lionheart2013 commented on #144
gotcha, thanks for clarification.

[2020-11-23 04:29] #144 closed

[2020-11-23 11:58] ayushsharma82 opened #166 "ERROR in NormalModuleFactory.beforeResolve"
serverless-bundle version: ^4.1.0

Getting this error with `serverless package` command:

[code]

[2020-11-23 12:04] ayushsharma82 commented on #166
My Bad. I had webpack v5 installed along with this plugin in `node_modules`.

Uninstalling that webpack package fixed this error.

[2020-11-23 12:04] #166 closed

[2020-11-23 14:12] andres-bayon opened #167 "Include node-externals modulesDir option"
My project directory structure is similar to a monorepo (different serverless.yml files for each service), but there are only one package.json and node_modules at the root directory (all the node_modules directory goes to a common layer). It seems the option `custom.bundle.externals: 'all'` do not work in this case. It would be interesting to have any way to pass the nodeExternals option `modulesD

[2020-11-23 15:08] andres-bayon commented on #167
After some research I found out this suggestion does not solve my problem. What I need is some option to forceExclude all the node_modules directory without mentioning every package at the package.json dependencies property. Also I use EJS, so I have the documented problem with all the dependencies this library includes.

[2020-11-23 15:09] andres-bayon commented on #167
Duplicate of #117

[2020-11-24 10:20] Namstel commented on #127
@jayair Yes definitely.

[2020-11-24 12:33] #111 closed

[2020-11-25 15:20] stewarthull7 commented on #154
Thanks for your response. I have tried this with no luck. The only workaround seems to be to remove the plugin and install it again. This is annoying, as every time I do an `npm install` it breaks again.

[2020-11-28 18:31] scryan7371 opened #169 "knex pulling in unresolved references again"
This was fixed for a while but now I am getting the error again with the latest bundle plugin and the latest knex.   I am using

 "serverless-bundle": "4.1.0",
 "serverless": "2.13.0",
  "knex": "0.21.12",
  "pg": "8.5.1",

My config is

  bundle:
    &nbsp;&nbsp;linting: false
    &nbsp;&nbsp;ignorePackages:
    &nbsp;&nbsp;&nbsp;  - pg-native
    &nbsp;&nbsp;forceInclude:
    &nbsp;&nbsp;&nbsp;

[2020-11-28 19:06] scryan7371 commented on #169
This is due to an error with the latest version of Node and NPM.  If rollback to NPM 6 and Node 14 it will work.

[2020-11-28 22:59] scryan7371 commented on #169
The new serverless pulls in the lastest version 15 of Node so this breaks on the new versions of all the supporting libraries

[2020-12-01 04:10] lionheart2013 opened #170 "Error when using with Lumigo plugin (No matching handler found)"

[2020-12-01 07:44] Ionut-Milas opened #171 "Option to disable AMD loader"
Hello.

I am using the [SendInBlue SDK](https://www.npmjs.com/package/sib-api-v3-sdk) to send email from SLS function, but I encounter the following issue "Module not found: Error: Cannot resolve module".
In the SDK documentation, they say that I should disable the AMD loader in webpack.
How do you suggest I should proceed with this, as I cannot add serverless-webpack alongside serverless-bundle.

[2020-12-05 01:18] robsonkades opened #172 "serverless-bundle is not compatible with serverless-webpack"
serverless-webpack config detected in serverless.yml. serverless-bundle is not compatible with serverless-webpack
[code]

[2020-12-07 08:54] PenguinOfWar commented on #172
What is your use case? Internally, this library already uses `serverless-webpack` and doesn't support many external hooks to change that due to its PNP nature.

[2020-12-07 08:56] PenguinOfWar commented on #170
Can you provide a bit more information? Is this a common use case?

[2020-12-07 08:58] PenguinOfWar commented on #152
Support for JSX and TSX is contained in #168

[2020-12-07 11:13] ADrejta opened #173 "Bundling prisma2 with the plugin"
Hi,

I'm having trouble initializing [prisma](https://www.prisma.io/blog/prisma-2-beta-b7bcl0gd8d8e) when using the serverless-bundle plugin

Prisma needs to run a script "prisma generate" and uses a schema.prisma file (that i need to copy into the webpack bundle process) in order to make the client to access the database.
I have added this part in the custom options of the plugin like so:
[code]

[2020-12-07 13:39] ADrejta commented on #173
I think the script is not running.

I tried switching it to this:
[code]
Then when i look at the .webpack folder there is no file named sample.txt.

While the script is not being run, the copyFiles part is workin since i can see the prisma.schema file inside the .webpack folder

[2020-12-07 13:53] mkherlakian opened #174 "Building casbin with serverless-bundle"
I'm trying to include casbin, a popular authorization library (https://www.npmjs.com/package/casbin), in my serverless app using serverless-bundle.
I've tracked it down to the fact that casbin publishes 2 versions of their module - esm and cjs under the lib directory in node_modules.
The webpack's loader included in serverless-bundle insists on loading the esm version, and that results in a compil

[2020-12-07 14:38] hsluoyz commented on #174
@nodece any possible reasons that caused this?

[2020-12-09 19:22] jmparsons opened #175 "4.0.0+ missing many dependencies"
Building with 3.0+ works fine, but 4.0 on a mac non m1, I tried node version 10 and 12, both force me to include a ton of dependencies. All of the eslint, developit, prettier, sinon etc.

[2020-12-10 04:34] softmarshmallow opened #176 "Error: Plugin "@typescript-eslint" was conflicted between ".eslintrc.js" and "BaseConfig"."
current eslingrc file

[code]

[2020-12-10 05:05] softmarshmallow opened #177 "serverless bundle breaks nestjs configuration"
create boiler plate nestjs project. from serverless-examples/with-typescript-nestjs

run it as is -> works well

remove all plugins and replace it with `serverless-bundle`

Not that it does not compiles, it throws wierd error.

[code]

[2020-12-10 06:14] softmarshmallow opened #178 "TypeError: Cannot read property 'tap' of undefined"
[code]

[2020-12-10 08:41] JoaquinFernandez commented on #107
Same issue here, I use babel-plugin-rewire for exposing non exported functions and be able to unit test them. Per the docs and your answer, there is no way to do that via babel config, do you have any alternatives?

[2020-12-11 18:15] softmarshmallow commented on #178
ref:
https://github.com/mzgoddard/hard-source-webpack-plugin/issues/461
https://github.com/webpack/webpack/issues/8548

[2020-12-11 18:23] softmarshmallow commented on #178
I added `caching: false` and it's gone now

[2020-12-12 02:19] softmarshmallow opened #179 "Cannot deploy with nestjs (but sls offline works)"
[code]

[2020-12-12 02:57] softmarshmallow commented on #179
https://github.com/nestjs/nest/issues/1706

[2020-12-12 03:02] softmarshmallow commented on #179
[code]

this does the trick, but is this the right/ onlu solution?

[2020-12-12 03:17] softmarshmallow commented on #179
example production repository used by bridged.xyz
https://github.com/bridgedxyz/services/blob/main/CONTRIBUTING.md

[2020-12-14 14:56] larrybek commented on #176
@softmarshmallow I had an issue before. Just simply remove in package.json `typescript-eslint` as serverless-bundle is providing it which conflicting with its BaseConfig.

[2020-12-15 12:35] robsonkades commented on #172
I am closing because this is no longer necessary

[2020-12-15 12:36] #172 closed

[2020-12-18 07:43] PenguinOfWar commented on #179
This looks correct to me. Does the deployed cloud function perform as expected?

[2020-12-18 07:44] PenguinOfWar commented on #178
Thanks @softmarshmallow for advising of the fix. Can I recommend you close this issue?

[2020-12-18 14:54] nodece commented on #174
@mkherlakian @hsluoyz I made a PR for this: https://github.com/casbin/node-casbin/pull/219.

[2020-12-19 02:10] hsluoyz commented on #174
@mkherlakian PR merged: https://github.com/casbin/node-casbin/pull/219

[2020-12-19 03:47] mkherlakian commented on #174
Awesome! @nodece @hsluoyz thank you guys!

[2020-12-19 03:47] #174 closed

[2020-12-23 09:47] fusionbeam opened #182 "bundling mjml and its dependencies cause Error: Cannot find module '../lib/utils.js'"
I'm trying to bundle a lambda that is dependent on package mjml (and its dependencies).
( using "serverless-bundle": "^4.1.0")
my dependencies are:
[code]

have tried force including mjml without success.

The error I get when lambda is executed is:
[code]

[2020-12-24 03:14] davidboom95 commented on #173
Did you managed to get this working?

[2020-12-24 08:36] ADrejta commented on #173
Sadly I didn't. I had to switch to serverless-webpack plugin to get this working

[2020-12-24 13:21] davidboom95 commented on #173
And you replaced serverless-bundle or you are using both of them?

[2020-12-24 15:01] ADrejta commented on #173
No i replaced it with the serverless-webpack and am not using the serverless-bundle plugin at the moment. Sorry for not being clear about that.

I do plan on revisiting this issue since maintaining webpack.config files can be a hassle at times. But since I couldn't figure it out for my use case at the moment I had to switch to serverless-webpack.

[2020-12-31 13:54] jaads opened #184 "Outdated node-sass version"
The dependency `node-sass 4.14.1` makes use of `node-gyp 3.8.0` which in turn uses Python 2 under the hood.
Hence `serverless-bundle` relies on Python 2 in the end with the problem being that Python 2 is no longer supported since the beginning of 2020: [https://www.python.org/doc/sunset-python-2/](https://www.python.org/doc/sunset-python-2/)

The newest version of `node-gyp` does not need Python 2

[2021-01-03 01:47] jayair commented on #107
It's tricky to do that here. But if you open a new issue for this specific plugin and if many other folks need it, we'll look at adding it.

[2021-01-03 01:50] jayair commented on #167
Hmm I'm not totally clear on the use case here. Could you create a sample repo to share the use case?

[2021-01-03 01:51] jayair commented on #127
We are hearing a ton of folks having memory related issues because of this plugin. Anybody want to take a crack at this and making ForkTsChecker an option instead?

[2021-01-03 01:51] jayair commented on #154
That's really weird. Can you create a simple repo with this problem?

[2021-01-03 01:56] jayair commented on #169
Can you post the various versions you are using (Node, NPM, knex, etc.)? Also does using the `forceExclude` or `externals` option help?

[2021-01-03 01:57] jayair commented on #171
Hi there, how would the AMD loader be disabled in Webpack?

[2021-01-03 02:01] jayair commented on #175
Hi there, what do you mean it forced you to include them? Can you share some logs?

[2021-01-03 02:02] jayair commented on #177
I've heard of some other folks having issues with Nestjs. Do you know if we can use Webpack with it?

[2021-01-03 02:07] jayair commented on #182
What is the `lib/util.js` that it is referencing? Is that a part of your Lambda code?

[2021-01-03 02:09] jayair commented on #173
We are currently relying on serverless-webpack for the custom scripts: https://github.com/serverless-heaven/serverless-webpack#custom-scripts

Does anybody want to take a look why it's not being invoked?

[2021-01-03 02:12] jayair commented on #184
Thanks for letting us know! Feel free to open a new PR with this.

[2021-01-03 06:58] softmarshmallow commented on #177
'Cause there are lots of examples using nestjs with webback on nestjs's official example and serverless-examples.

It's odd that it breaks. (on run time.)

[2021-01-03 14:51] ashutoshkmr commented on #127
Hey @jayair
I've created a [PR](https://github.com/AnomalyInnovations/serverless-bundle/pull/185) to make ForkTsChecker an option

[2021-01-03 20:35] jwelmac commented on #175
Hey @jayair,
I am having a similar issue which is fixed by using version `3.2.1`.

Here are some logs from my end.
[code]

In an attempt to fix this issue I find myself going down a rabbit hole of dependency installations.

[2021-01-07 12:13] jschuur commented on #178
I just ran into the same issue, and was able to fix it with `caching: false`, but shouldn't this plugin work out of the box without having to add a custom setting?

Disabling caching doesn't seem like something I want to do.

I switched from serverless-webpack to serverless-bundle, is it somehow conflicting with old cache content? I couldn't find any legacy cache directory in my project.

[2021-01-07 13:11] jschuur commented on #178
I got it working without needing `caching: false` once I realised that still had a newer webpack installed locally from when i used serverless-webpack. Once I removed that, it was all good.

[2021-01-07 14:01] PenguinOfWar commented on #178
Thanks @jschuur for the additional information.

Pinging @jayair to close.

[2021-01-07 15:04] ceoshikhar commented on #127
@jayair Please have a look at the PR. I have been having a really bad time with this memory leak error. My deployments pipeline fail 9/10 times because it crashes the entire process and if I deploy it on my machine it freezes my computer. I hope this gets fixed soon.

[2021-01-07 16:15] rcoundon commented on #175
I'm also seeing the error with version 4.1.0

Error: Failed to load config "medikoo" to extend from.

[2021-01-07 20:49] jayair commented on #127
Yup. I’ll be looking at this today. Thanks!

[2021-01-07 22:07] jayair commented on #178
Thanks @PenguinOfWar

[2021-01-07 22:07] #178 closed

[2021-01-07 22:10] #152 closed

[2021-01-07 22:34] jayair commented on #127
Hi all, we made this an option:

https://github.com/AnomalyInnovations/serverless-bundle/releases/tag/v4.2.0

Read more on the option here: https://github.com/AnomalyInnovations/serverless-bundle#forktscheckerwebpackplugin

Can you try it and let me know if it fixes your issues?

[2021-01-08 00:44] jayair commented on #139
I looked into this further. Thanks @turakvlad for the link to the root cause issue.

https://github.com/webpack/webpack/issues/7470

If somebody wants to take this on, that would be great. We need to add this to the webpack config:

[code]

And add a test ensuring that Webpack is not overwriting the process.env.NODE_ENV string.

[2021-01-08 06:49] ceoshikhar commented on #127
@jayair I am currently on version `3.0.0`, will it break anything if I upgrade to `4.2.0` ?

[2021-01-08 22:07] mattcwill commented on #175
I get the "Failed to load config "medikoo" to extend from" error with 4.1.0 as well. I don't get the error with 4.0.1. For what it's worth my Serverless version is 2.17.0 and I am using Typescript.

[2021-01-09 16:48] davidboom95 commented on #147
Anyone knows how to do it? This is what I get:
[code]

[2021-01-11 22:17] jaads commented on #184
done #188

[2021-01-12 14:08] teban3010 commented on #175
I "fixed" it by adding the following configuration on `serverles.yaml`:

[code]

As I have eslint configured with my own rules, running the lint command works as expected, and with that I don't see any error when runing `serverless offline` or `serverless deploy`.

I tried to install `medikoo` but as mentioned before, after that there are a lot more to install, all related to eslint.

[2021-01-18 17:57] RandomEngy opened #189 "WARNING: More than one matching handlers found for..."
I'm getting this warning when deploying:

WARNING: More than one matching handlers found for 'built/methods/registerDevice'. Using 'built/methods/registerDevice.js'.

I'm guessing this is because Typescript has included registerDevice.js and registerDevice.js.map.

serverless-webpack added a [feature to exclude files via config](https://github.com/serverless-heaven/serverless-webpack/pull/471), bu

[2021-01-21 06:09] pavannaik028 opened #190 "[ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
Hi All,

we are seeing the error "[ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined" after adding the serverless-bundle plugin.

error stack:
erverless: Auto instrumenting functions with Datadog
Serverless: Adding Lambda Layers to functions
Serverless: Compiling with Typescript...
Serverless: Using local tsconfig.json
Serverless: Typescript compiled.
Serverless

[2021-01-21 13:18] itskemo commented on #175
Complete error log:

[code]

[2021-01-24 22:59] azizur commented on #136
I have been working on adding support for React v17.0.1 for server-side rendering. It includes support for images. I am finding it challenging to add support for SVG as ReactCompoent. I will share a link to my changes shortly.

[2021-01-25 13:15] thomashoef opened #192 "Debugging tests in VS Code"
Hi all,

we run our node tests with serverless-bundle test.

Is there a way to create a debug configuration for VS Code so that we can use serverless-bundle test whilst debugging our code?

Thanks
Thomas

[2021-01-29 17:41] nubunto opened #193 "Multiple runtimes"
I apologize since this is more of a question than a formal bug report.

I just tried bringing some lambdas written in Go to a TS project using serverless-bundle, and I had trouble doing so. I understand that [serverless-webpack doesn't support multiple runtimes, apparently](https://stackoverflow.com/a/53951955) and I was thinking if that limitation applies to serverless-bundle. It looks like it do

[2021-02-02 07:53] averyyip commented on #49
@danielo515 Curious if you ended up implementing this yourself? I'm running into the same exact problem!

[2021-02-02 08:01] danielo515 commented on #49
@averyyip nope, I just decided to "opt-out" and build a webpack pipeline myself, then upload that code. But this was 1 year ago, so the info it's not fresh on my mind.

[2021-02-03 16:04] thommeo opened #194 "Jest "collectCoverage" parameter in package.json is not supported"
I am trying to enable coverage collection, but when I set it in `package.json` I get an error

`package.json`:
[code]

Error

[code]

Can someone advise on how to enable coverage reporting?

Thanks

[2021-02-04 12:15] thomaschaaf commented on #182
Using mjml works fine for me. So this must be in your own code.

[2021-02-04 12:39] thomaschaaf commented on #100
Maybe we can use a version without manging and compression:
[code]

[2021-02-04 14:07] thomaschaaf opened #195 "Upgrade to webpack v5"
webpack 5 has been stable for a while now and we should be able to upgrade without any problems.

[2021-02-09 13:29] dror-weiss opened #196 "TypeScript local linked packages and node_modules exclusion, forceInclude doesn't fix it"
I have a `pnpm` workspaces setup where I develop local common/lib packages and use them in a serverless service, but I can't bundle the project due to serverless-bundle's `webpack.config.js` hard-coded configuration.

**TDLR**, there is a problematic configuration in **webpack.config.js**:
[code]

----------------------------------------

`pnpm` workspaces work by symlinking the local packages to

[2021-02-10 10:49] dror-weiss commented on #196
#197

[2021-02-10 22:22] s1mrankaur opened #198 "Failed to load config "developit" to extend from. error in serverless-bundle 4.1.0 and 4.2.0"
When using serverless-bundle, I get  4.1.0 and 4.2.0

[code]

I do have the following config where it says developit:

[code]

It works just fine with  "serverless-bundle": "^4.0.1" though. How can this be fixed while using the latest version of serverless-bundle.

[2021-02-15 14:36] msharkeyiii opened #199 "Webpack failing; trying to use bcrypto binaries"
I'm trying to use an NPM package that depends on a library called `bcrypto` in my project; NodeJS 14 AWS Lambda.

bcrypto uses binaries that are located in: `node_modules/bcrypto/build/Release/bcrypto.node` among others.

Webpack is completely failing to include any of these binaries, no matter what config I've tried so far.

The closest I got was invoking the lambda locally via: `serverless invok

[2021-02-17 22:04] #184 closed

[2021-02-17 22:16] jayair commented on #196
Hi @dror-weiss I guess I'm not totally clear on the issue here. This is excluding the list of files that we don't want to type check. In this case all the files inside `node_modules/`. Why is excluding those files causing an error for your setup?

[2021-02-18 08:12] dror-weiss commented on #196
Hi @jayair , can you please review the repro I made [here](https://github.com/dror-weiss/serverless-bundle-issue-196)?

[2021-02-18 15:10] codan84 commented on #73
I am facing similar issue. For some reason I can't override `testPathIgnorePatterns`. I want to be able to run certain tests (unit or integration) separately. To do this I wanted to leverage this cli option by doing something like this in package.json:
[code]

[2021-02-19 04:19] ianpogi5 opened #200 "copyFiles permission"
I'm trying to include a binary file inside the package but the file permission from my local machine does not carry over to the package. The execution permission is being stripped out. Any workaround for this?

[2021-02-19 08:35] ianpogi5 commented on #199
Try using copyFiles option. I'm also using this option but [my issue](#200 ) is that the execution permission is being removed during copy.

[2021-02-19 08:54] ianpogi5 commented on #200
Duplicate of #92

[2021-02-19 08:54] #200 closed

[2021-02-19 13:47] joewestcott commented on #198
Likely the same issue as https://github.com/AnomalyInnovations/serverless-bundle/issues/175

[2021-02-19 18:05] mkherlakian commented on #175
I'm also experiencing this issue on 4.2.1
This is for a Typescript based project, I have a `tsconfig.json` file in the root of the project, otherwise all defaults.

I tried to go down the dep tree by just deploying and adding missing deps, I stopped after about 20 of them (in case this helps to fix)

[code]

As the linter was still complaining...

[2021-02-23 04:47] zareth-san opened #204 "ReferenceError: fetch is not defined"
tl;dr: `serverless-bundle`'s webpack output calls a function `fetch` which is never defined

**background**: I have created a new typescript serverless project using [serverless-typescript-starter](https://github.com/AnomalyInnovations/serverless-typescript-starter), which uses `serverless-bundle`. I've created a scheduled service which makes use of the @ethersproject/web dependency, which interna

[2021-02-23 17:12] zareth-san commented on #204
This is likely a problem with ethers.js, not serverless-bundle. So closing.

[2021-02-23 17:12] #204 closed

[2021-02-23 17:30] msharkeyiii commented on #199
Finally solved after much digging. Apparently bcrypto has a JS fallback that can be enabled with an environment variable...

WOW, there's a week of my life I'll never get back. Closing this issue since this wasn't a serverless-bundle problem after all.

Environment variable in serverless.yml:

[code]

[2021-02-23 17:30] #199 closed

[2021-02-25 06:10] ianpogi5 commented on #92
Hi @jayair can you have a look at my pull request?

[2021-02-26 18:55] Enase commented on #195
any updates?

[2021-02-27 22:47] jayair commented on #195
I don't think serverless-webpack has updated to it yet? Let me know if they do! https://github.com/serverless-heaven/serverless-webpack/releases

[2021-02-27 22:49] jayair commented on #92
@ianpogi5 Thanks! Taking a look.

[2021-02-27 23:14] jayair commented on #175
I think this might be an issue with eslint picking up the wrong config, as it goes up the directories. Can I bother somebody for a simple repo with the issue? I'll need to take a deeper look.

[2021-02-27 23:18] jayair opened #205 "Out of memory issues"
It seems like quite a few people are having out of memory errors with serverless-bundle. We're seeing many of these on [Seed](https://seed.run). It seems like a lot of it is for TS projects with functions being packaged individually and the type checkers that are spawned. But I think there are some JS ones as well.

I've started recommending [serverless-esbuild](https://github.com/floydspace/serve

[2021-02-28 00:47] #92 closed

[2021-02-28 01:25] jayair commented on #196
Thanks for the repo. I get that the issue is happening. I'd like to know why it's happening. I unfortunately can't accept a PR if I don't understand the issue because I'd have to maintain it in the future and document the new option.

Is the issue that it needs to include the `@common/utils` dir in the service's `node_modules`?

If so, for the repo you created, can I test it with a regular `server

[2021-02-28 02:52] mkherlakian commented on #175
@jayair Here's one: https://github.com/mkherlakian/serverlessBundleApi

Any `serverless` command should result in the error documented below. Let me know if I can do anything else to help.

[2021-02-28 08:17] dror-weiss commented on #196
Yes, the issue appears to be happening with `serverless invoke local` as well.

Output for the `serverless invoke local` command **without** the proposed fix:
[code]

Output for the `serverless invoke local` command **with** the proposed fix:
[code]

[2021-02-28 18:14] s1mrankaur commented on #71
@jayair  Need     keepOutputDirectory: true .

I have set everything up in the project and using the serverless bundle. Now need to keep .webpack directory to debug lambda functions using thundra and it keeps getting deleted. Please suggest a way to do it.

[2021-02-28 18:16] s1mrankaur opened #206 "How to keep .webpack folder after deploy. Need a way to pass keepOutputDirectory: true"
The project is all setup using serverless bundle but not having this option is a bummer. I need this to be able to debug lambda functions using Thundra. My code is written using Typescript so need the debugger to point to .js and .jsmap files. Please suggest a way to keep .webpack folder.

[2021-02-28 18:37] s1mrankaur commented on #71
@phobetron  How did you do it?

[2021-02-28 19:25] s1mrankaur commented on #71
+1

[2021-03-01 12:01] karl-run commented on #189
I'm also seeing this warning because I have `handler.ts` and `handler.test.ts`. Same as [this issue](https://github.com/serverless-heaven/serverless-webpack/issues/405) in `serverless-webpack`. Which lead to [this feature request](https://github.com/serverless-heaven/serverless-webpack/issues/433) which in turn lead to the PR linked in OPs issue.

Being able to do something like this:
[code]

Woul

[2021-03-01 13:12] henhal commented on #195
I posted this issue on `serveless-webpack` but perhaps it should have been posted here from the start: https://github.com/serverless-heaven/serverless-webpack/issues/693
I was asked to try to use webpack 5, but I think the only way I can try that is to fork `serverless-bundle`, which I intend to try asap.

When I upgraded my libraries to target `ES2020` after upgrading all lambdas to Node 14, all

[2021-03-02 21:35] M1kep opened #207 "Serverless-Webpack removing default configs in next major version"

[2021-03-03 21:55] jrvidotti commented on #59
https://github.com/apollographql/apollo-server/issues/2216#issuecomment-790088169

[2021-03-04 21:12] talha5389 opened #209 "Unable to add @keyv/redis in externals"
I want to externalize @keyv/redis package but I am not able to do so

This  doesn't work

![image](https://user-images.githubusercontent.com/14093306/110031010-35509680-7d58-11eb-8114-402076511d0b.png)
![image](https://user-images.githubusercontent.com/14093306/110031055-426d8580-7d58-11eb-9f73-1ed86120cdd3.png)